In [1]:
import xlrd
import pandas as pd
import csv
import sqlite3
import matplotlib
matplotlib.use("svg")
import matplotlib.pyplot as plt
import os
if not os.environ.get("DISABLE_TESTING", False):
    %matplotlib inline
plt.style.use('ggplot')
import numpy as np

In [ ]:
##Read table using pandas 
df1 = pd.read_csv("grad_rates_pupil_teacher_ratio.csv",skiprows=6)

In [5]:
df1

,County Name,County Name [Public School] 2017-18,County Name [Public School] 2016-17,Total Number of Public Schools [Public School] 2017-18,Total Number of Public Schools [Public School] 2016-17,American Indian/Alaska Native - male [Public School] 2017-18,American Indian/Alaska Native - male [Public School] 2016-17,American Indian/Alaska Native - female [Public School] 2017-18,American Indian/Alaska Native - female [Public School] 2016-17,Asian or Asian/Pacific Islander - male [Public School] 2017-18,...,Hawaiian Nat./Pacific Isl. - male [Public School] 2017-18,Hawaiian Nat./Pacific Isl. - male [Public School] 2016-17,Hawaiian Nat./Pacific Isl. - female [Public School] 2017-18,Hawaiian Nat./Pacific Isl. - female [Public School] 2016-17,Two or More Races - male [Public School] 2017-18,Two or More Races - male [Public School] 2016-17,Two or More Races - female [Public School] 2017-18,Two or More Races - female [Public School] 2016-17,Pupil/Teacher Ratio [Public School] 2017-18,Pupil/Teacher Ratio [Public School] 2016-17
0,Abbeville County SC,Abbeville County,Abbeville County,10.0,10.0,3,3,3,1,4,...,3,2,1,"=""0""",34,38,26,28,13.17,13.49
1,Acadia Parish LA,Acadia Parish,Acadia Parish,27.0,27.0,†,†,†,†,†,...,†,†,†,†,207,198,237,214,20.30,17.92
2,Accomack County VA,Accomack County,Accomack County,13.0,13.0,4,4,4,4,22,...,"=""0""",1,5,4,15,16,18,16,16.55,16.26
3,Ada County ID,Ada County,Ada County,136.0,134.0,210,224,207,221,991,...,†,163,†,166,1446,1313,1358,1240,18.99,19.25
4,Adair County IA,Adair County,Adair County,5.0,5.0,–,–,†,†,†,...,–,–,–,–,12,13,14,11,11.41,12.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,Totals:,NaN,NaN,99337.0,99138.0,†,†,†,†,†,...,†,†,†,†,952629,890554,924383,860392,NaN,NaN
3139,Data Source: U.S. Department of Education Nati...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3140,† indicates that the data are not applicable.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3141,– indicates that the data are missing.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3142,‡ indicates that the data do not meet NCES dat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#create and read table using sqlite
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

#Column names end with 16 indicate school year 16-17
#Column names end with 17 indicate school year 17-18
cursor.execute("""
CREATE TABLE GRAD_RATIO(
    county_name TEXT,
    county_name_17 TEXT,
    county_name_16 TEXT,
    total_num_schools_17 INTEGER,
    total_num_schools_16 INTEGER,
    american_indian_male_17 INTEGER,
    american_indian_male_16 INTEGER,
    american_indian_female_17 INTEGER,
    american_indian_female_16 INTEGER,
    asian_male_17 INTEGER,
    asian_male_16 INTEGER,
    asian_female_17 INTEGER,
    asian_female_16 INTEGER,
    hispanic_male_17 INTEGER,
    hispanic_male_16 INTEGER,
    hispanic_female_17 INTEGER,
    hispanic_female_16 INTEGER,
    black_male_17 INTEGER,
    black_male_16 INTEGER,
    black_female_17 INTEGER,
    black_female_16 INTEGER,
    white_male_17 INTEGER,
    white_male_16 INTEGER,
    white_female_17 INTEGER,
    white_female_16 INTEGER,
    hawaiian_male_17 INTEGER,
    hawaiian_male_16 INTEGER,
    hawaiian_female_17 INTEGER,
    hawaiian_female_16 INTEGER,
    mixed_male_17 INTEGER,
    mixed_male_16 INTEGER,
    mixed_female_17 INTEGER,
    mixed_female_16 INTEGER,
    student_teacher_ratio_17 INTEGER,
    student_teacher_ratio_16 INTEGER
);""")

conn.commit()

with open ("grad_rates_pupil_teacher_ratio.csv") as grad_ratio:
    data = csv.reader(grad_ratio)
    counter = 0
    for row in data:
        if counter >= 7 and len(row)>=35:
            #print(counter)
            cursor.execute("""INSERT INTO GRAD_RATIO VALUES (?,?,?,?,?,?,?,?,?,?,
                                                             ?,?,?,?,?,?,?,?,?,?,
                                                             ?,?,?,?,?,?,?,?,?,?,
                                                             ?,?,?,?,?)""", tuple(row))
        counter += 1

        conn.commit()
            

pd.read_sql_query("SELECT * from GRAD_RATIO;", conn)

,county_name,county_name_17,county_name_16,total_num_schools_17,total_num_schools_16,american_indian_male_17,american_indian_male_16,american_indian_female_17,american_indian_female_16,asian_male_17,...,hawaiian_male_17,hawaiian_male_16,hawaiian_female_17,hawaiian_female_16,mixed_male_17,mixed_male_16,mixed_female_17,mixed_female_16,student_teacher_ratio_17,student_teacher_ratio_16
0,Abbeville County SC,Abbeville County,Abbeville County,10,10,3,3,3,1,4,...,3,2,1,"=""0""",34,38,26,28,13.17,13.49
1,Acadia Parish LA,Acadia Parish,Acadia Parish,27,27,†,†,†,†,†,...,†,†,†,†,207,198,237,214,20.3,17.92
2,Accomack County VA,Accomack County,Accomack County,13,13,4,4,4,4,22,...,"=""0""",1,5,4,15,16,18,16,16.55,16.26
3,Ada County ID,Ada County,Ada County,136,134,210,224,207,221,991,...,†,163,†,166,1446,1313,1358,1240,18.99,19.25
4,Adair County IA,Adair County,Adair County,5,5,–,–,†,†,†,...,–,–,–,–,12,13,14,11,11.41,12.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3134,Yuma County CO,Yuma County,Yuma County,10,10,†,†,†,†,–,...,–,–,–,–,†,†,†,†,12.76,12.76
3135,Zapata County TX,Zapata County,Zapata County,6,6,"=""0""","=""0""","=""0""","=""0""",1,...,"=""0""","=""0""","=""0""","=""0""","=""0""",1,"=""0""","=""0""",16.17,14.94
3136,Zavala County TX,Zavala County,Zavala County,8,8,1,1,1,2,2,...,"=""0""","=""0""","=""0""","=""0""",1,4,1,1,13.56,12.56
3137,Ziebach County SD,Ziebach County,Ziebach County,4,4,262,279,281,272,"=""0""",...,"=""0""","=""0""","=""0""","=""0""","=""0""","=""0""",1,2,10.59,11.02
3138,Totals:,n/a,n/a,99337,99138,†,†,†,†,†,...,†,†,†,†,952629,890554,924383,860392,n/a,n/a

In [7]:
#Load graduation_rate_total 
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE GRAD_RATE_TOTAL(
    region_id INTEGER,
    region_name TEXT,
    region_type TEXT,
    year INTEGER,
    variable TEXT,
    percentage REAL  
);""")

conn.commit()


with open ("graduation_rates_total.csv",encoding='latin-1') as grad_rate:
    data = csv.reader(grad_rate)
    counter = 0
    for row in data:
        if counter >= 1:
            cursor.execute("INSERT INTO GRAD_RATE_TOTAL VALUES (?,?,?,?,?,?)",tuple(row))
        counter += 1
        
conn.commit()



pd.read_sql_query("SELECT * from GRAD_RATE_TOTAL;", conn)

,region_id,region_name,region_type,year,variable,percentage
0,0500000US72011,"A?asco Municipio, Puerto Rico",county,2015,percent_high_school_graduate_or_higher,67.4
1,0500000US72011,"Aí±asco Municipio, Puerto Rico",county,2011,percent_high_school_graduate_or_higher,60.9
2,0500000US72011,"Aí±asco Municipio, Puerto Rico",county,2010,percent_high_school_graduate_or_higher,59.3
3,0500000US45001,"Abbeville County, South Carolina",county,2016,percent_high_school_graduate_or_higher,78.3
4,0500000US45001,"Abbeville County, South Carolina",county,2015,percent_high_school_graduate_or_higher,78.1
...,...,...,...,...,...,...
10528,0500000US48507,"Zavala County, Texas",county,2015,percent_high_school_graduate_or_higher,60.2
10529,0500000US48507,"Zavala County, Texas",county,2010,percent_high_school_graduate_or_higher,57.7
10530,0500000US46137,"Ziebach County, South Dakota",county,2016,percent_high_school_graduate_or_higher,85.4
10531,0500000US46137,"Ziebach County, South Dakota",county,2015,percent_high_school_graduate_or_higher,86.4
10532,0500000US46137,"Ziebach County, South Dakota",county,2012,percent_high_school_graduate_or_higher,83.7

In [4]:
fin_df = pd.read_excel("financial_data.xls", sheet_name=["14","15","16","17","18"], skiprow=5)
fin_df_pps = fin_df["18"].fillna(-1)

In [6]:
# print(fin_df["18"].columns)
per_pupil_spending = pd.DataFrame([], columns=["Rank", "School System", "State", "Enrollment", "Instruction_Total", 
                              "Instruction_Salaries", "Instruction_EmployeeBenefits", "Support_Total", 
                              "Support_Pupil", "Support_Staff","Support_GeneralAdmin", "Support_SchoolAdmin"])
per_pupil_spending["Rank"] = [i for i in range(100)]
per_pupil_spending["School System"] = [i for i in fin_df_pps["Unnamed: 2"][4:] if i !="School System" and i != -1]
per_pupil_spending["State"] = [i for i in fin_df_pps["Unnamed: 3"][4:] if i !="State" and i != -1]
per_pupil_spending["Enrollment"] = [int(i) for i in fin_df_pps["Unnamed: 4"] if i != -1 and type(i) != str]
per_pupil_spending["Instruction_Total"] = [int(i) for i in fin_df_pps["Unnamed: 8"] if i != -1 and type(i) != str]
per_pupil_spending["Instruction_Salaries"] = [int(i) for i in fin_df_pps["Unnamed: 9"] if i != -1 and type(i) != str]
per_pupil_spending["Instruction_EmployeeBenefits"] = [int(i) for i in fin_df_pps["Unnamed: 10"] if i != -1 and type(i) != str]
per_pupil_spending["Support_Total"] = [int(i) for i in fin_df_pps["Unnamed: 11"] if i != -1 and type(i) != str]
per_pupil_spending["Support_Pupil"] = [int(i) for i in fin_df_pps["Unnamed: 12"] if i != -1 and type(i) != str]
per_pupil_spending["Support_Staff"] = [int(i) for i in fin_df_pps["Unnamed: 13"] if i != -1 and type(i) != str]
per_pupil_spending["Support_GeneralAdmin"] = [int(i) for i in fin_df_pps["Unnamed: 14"] if i != -1 and type(i) != str]
per_pupil_spending["Support_SchoolAdmin"] = [int(i) for i in fin_df_pps["Unnamed: 15"] if i != -1 and type(i) != str]

# per_pupil_spending.to_csv(index=False)

In [10]:
#Finance sheet 17
fin_df_percent_dist_rev = fin_df["17"].fillna(-1)

In [ ]:
percent_dist_rev = pd.DataFrame([], columns=["Rank","School System","State","Enrollment","Overall Total Percentage",
                                             "Federal Total Percentage","Federal Title I","State Total Percentage",
                                             "State General Formula Assistance","Local Total Percentage",
                                             "Local Taxes Parent Government Contributions","Other Local Government",
                                            "Charges"])

percent_dist_rev["Rank"] = [i for i in range(100)]
percent_dist_rev["School System"] = [i for i in fin_df_percent_dist_rev["Unnamed: 2"][4:] if i !="School System" and i != -1]
percent_dist_rev["State"] = [i for i in fin_df_percent_dist_rev["Unnamed: 3"][4:] if i !="State" and i != -1]
percent_dist_rev["Enrollment"] = [int(i) for i in fin_df_percent_dist_rev["Unnamed: 4"] if i != -1 and type(i) != str]
percent_dist_rev["Overall Total Percentage"] = [float(i) for i in fin_df_percent_dist_rev["Unnamed: 5"][4:] if i !="Total" and i != -1]
percent_dist_rev["Federal Total Percentage"] = [float(i) for i in (fin_df_percent_dist_rev["Unnamed: 6"]) if i !="Federal sources" and i != "Total2" and i != -1]
percent_dist_rev["Federal Title I"] = [float(i) for i in (fin_df_percent_dist_rev["Unnamed: 7"]) if i !="Federal sources" and i != "Title I" and i != -1]
percent_dist_rev["State Total Percentage"] = [float(i) for i in (fin_df_percent_dist_rev["Unnamed: 8"]) if i !="State sources" and i != "Total2" and i != -1]
percent_dist_rev["State General Formula Assistance"] = [float(i) for i in (fin_df_percent_dist_rev["Unnamed: 9"]) if i !="State sources" and i != "General" and i !="formula" and i != "assistance" and i != -1]
percent_dist_rev["Local Total Percentage"] = [float(i) for i in (fin_df_percent_dist_rev["Unnamed: 10"]) if i !="Local sources" and i != "Total2" and i != -1]

#This function changes the (Z) to zeros  
def changeZ(i):
    try:
        return (float(i))
    except:
        return(0.0)

percent_dist_rev["Local Taxes Parent Government Contributions"] = [changeZ(i) for i in (fin_df_percent_dist_rev["Unnamed: 11"]) if i !="Local sources" and i != -1 and i!="Taxes and" and i != "parent" and i != "government" and i != "contributions"]
percent_dist_rev["Other Local Government"] = [changeZ(i) for i in (fin_df_percent_dist_rev["Unnamed: 12"]) if i !="Local sources" and i != -1 and i!="Other" and i != "local" and i != "governments"]
percent_dist_rev["Charges"] = [changeZ(i) for i in (fin_df_percent_dist_rev["Unnamed: 13"]) if i !="Local sources" and i != -1 and i!="Charges"]


percent_dist_rev.to_csv(index=False)

In [14]:
#Finance sheet 16
fin_df_expenditure = fin_df["16"].fillna(-1)
fin_df_expenditure

,Table 16. Expenditure of the 100 Largest Public Elementary-Secondary School Systems in the United,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,States by Enrollment: Fiscal Year 2017,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,(Thousand dollars. Detail may not add to total...,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,Rank,-1.0,School System,State,-1,Elementary-secondary expenditure,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
292,Notes: See Appendix B for a descript...,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
293,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
294,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
295,SOURCE: 2017 Census of Governments: Finance...,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [ ]:
#Finance Sheet 16
expenditure = pd.DataFrame([], columns=["Rank","School System","State","Enrollment",
                                       "Elementary_secondary Expenditure Total", "Selected Objects Salaries",
                                       "Selected Objects Employee Benfits","Instruction Salaries","Instruction Employee Benefits",
                                       "Support Services Pupil Support","Support Services Instructive Staff Support",
                                       "Support Services General Administration","Support Services School Administration",
                                       "Support Services Other and Nonspecified","Other Current Spending","Capital Outlay",
                                       "Inter-governmental","Interest On Debt"])

expenditure["Rank"] = [i for i in range(100)]
expenditure["School System"] = percent_dist_rev["School System"]
expenditure["State"] = percent_dist_rev["State"]
expenditure["Enrollment"] = percent_dist_rev["Enrollment"]
expenditure["Elementary_secondary Expenditure Total"] = [int(i) for i in fin_df_expenditure["Unnamed: 5"][np.concatenate((np.arange(4,74,1),np.arange(149,217,1)))] if i !="Total" and i != -1 and i != "Elementary-secondary expenditure"]
expenditure["Selected Objects Salaries"] = [int(i) for i in fin_df_expenditure["Unnamed: 7"][np.concatenate((np.arange(4,74,1),np.arange(149,217,1)))] if i !="For selected objects" and i != -1 and i != "Salaries and" and i != "wages"]
expenditure["Selected Objects Employee Benfits"] = [int(i) for i in fin_df_expenditure["Unnamed: 8"][np.concatenate((np.arange(4,74,1),np.arange(149,217,1)))] if i != -1 and i != "Employee" and i != "benefits"]
expenditure["Instruction Salaries"] = [int(i) for i in fin_df_expenditure["Unnamed: 10"][np.concatenate((np.arange(4,74,1),np.arange(149,217,1)))] if i != -1 and i != "Salaries and" and i != "wages"]
expenditure["Instruction Employee Benefits"] = [int(i) for i in fin_df_expenditure["Unnamed: 11"][np.concatenate((np.arange(4,74,1),np.arange(149,217,1)))] if i != -1 and i != "Employee" and i != "benefits"]
expenditure["Support Services Pupil Support"] = [int(i) for i in fin_df_expenditure["Unnamed: 5"][np.concatenate((np.arange(76,145,1),np.arange(220,288,1)))] if i != -1 and i != "Pupil" and i != "support"]
expenditure["Support Services Instructive Staff Support"] = [int(i) for i in fin_df_expenditure["Unnamed: 6"][np.concatenate((np.arange(76,145,1),np.arange(220,288,1)))] if i != -1 and i != "Instructional" and i != "staff" and i != "support"]
expenditure["Support Services General Administration"] = [int(i) for i in fin_df_expenditure["Unnamed: 7"][np.concatenate((np.arange(76,145,1),np.arange(220,288,1)))] if i != -1 and i != "General" and i != "adminis-" and i != "tration"]
expenditure["Support Services School Administration"] = [int(i) for i in fin_df_expenditure["Unnamed: 8"][np.concatenate((np.arange(76,145,1),np.arange(220,288,1)))] if i != -1 and i != "School" and i != "adminis-" and i != "tration"]
expenditure["Support Services Other and Nonspecified"] = [int(i) for i in fin_df_expenditure["Unnamed: 9"][np.concatenate((np.arange(76,145,1),np.arange(220,288,1)))] if i != -1 and i != "Other and" and i != "nonspecified"]
expenditure["Other Current Spending"] = [int(i) for i in fin_df_expenditure["Unnamed: 10"][np.concatenate((np.arange(76,145,1),np.arange(220,288,1)))] if i != -1 and i != "Other" and i != "current" and i != "spending"]
expenditure["Capital Outlay"] = [int(i) for i in fin_df_expenditure["Unnamed: 11"][np.concatenate((np.arange(76,145,1),np.arange(220,288,1)))] if i != -1 and i != "Capital" and i != "outlay"]
expenditure["Inter-governmental"] = [int(i) for i in fin_df_expenditure["Unnamed: 12"][np.concatenate((np.arange(76,145,1),np.arange(220,288,1)))] if i != -1 and i != "Inter-" and i != "governmental"]
expenditure["Interest On Debt"] = [int(i) for i in fin_df_expenditure["Unnamed: 13"][np.concatenate((np.arange(76,145,1),np.arange(220,288,1)))] if i != -1 and i != "Interest" and i != "on debt"]


expenditure.to_csv(index=False)

In [181]:
# Grad Rates by Race

grad= pd.read_csv("grad_rates_by_race.csv", sep="\t", lineterminator="\r")
grad

,State,"Total, ACGR for all students",Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,NaN,2010-11,NaN,2011-12,NaN,2012-13,NaN,2013- 14,2014- 15,2015- 16,...,NaN,NaN,NaN,NaN,NaN,Students with disabil-ities,NaN,Limited English profi-cient,NaN,Economi- cally disadvan-taged
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,American\rIndian/\rAlaska\rNative,NaN,Two or more races,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Asian,Pacific Islander,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,2,NaN,3,NaN,4,NaN,5,6,7,...,13,14,15,NaN,16,17,NaN,18,NaN,19
4,United States .............,79,\6\,80,\6\,81,\7\,82,83,84,...,---,---,72,\8\,---,67,\8\,66,\8\,78
5,Alabama\9\ ....................,72,NaN,75,NaN,80,NaN,86,89,87,...,---,---,---,NaN,91,---,NaN,---,NaN,---
6,Alaska ..................................,68,NaN,70,NaN,72,NaN,71,76,76,...,88,77,69,NaN,75,59,NaN,58,NaN,72
7,Arizona .....................,78,NaN,76,NaN,75,NaN,76,77,80,...,---,---,67,NaN,---,66,NaN,30,NaN,72
8,Arkansas ..................................,81,NaN,84,NaN,85,NaN,87,85,87,...,92,69,89,NaN,86,84,NaN,82,NaN,85
9,California .................,76,NaN,79,NaN,80,NaN,81,82,83,...,93,91,68,NaN,70,65,NaN,67,NaN,79
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Colorado ....................,74,NaN,75,NaN,77,NaN,77,77,79,...,90,77,64,NaN,80,57,NaN,65,NaN,69
12,Connecticut ...............,83,NaN,85,NaN,86,NaN,87,87,87,...,95,81,88,NaN,88,67,NaN,68,NaN,78
13,Delaware ..................................,78,NaN,80,NaN,80,NaN,87,86,86,...,96,>=50,76,NaN,91,69,NaN,69,NaN,78
14,District of Columbia ........,59,NaN,59,NaN,62,NaN,61,69,69,...,‡,‡,‡,NaN,>=90,53,NaN,63,NaN,73
15,Florida ..................................,71,NaN,75,NaN,76,NaN,76,78,81,...,93,87,80,NaN,83,66,NaN,67,NaN,77
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Georgia .................................,67,NaN,70,NaN,72,NaN,73,79,79,...,---,---,79,NaN,82,59,NaN,59,NaN,76
18,Hawaii .....................,80,NaN,81,NaN,82,NaN,82,82,83,...,---,---,79,NaN,---,65,NaN,69,NaN,78
19,Idaho ........................,---,NaN,---,NaN,---,NaN,77,79,80,...,86,78,66,NaN,76,61,NaN,75,NaN,72
20,Illinois .................................,84,NaN,82,NaN,83,NaN,86,86,86,...,95,82,81,NaN,86,71,NaN,74,NaN,79
21,Indiana .....................,86,NaN,86,NaN,87,NaN,88,87,87,...,81,70,76,NaN,82,71,NaN,50,NaN,80
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Iowa ........................,88,NaN,89,NaN,90,NaN,91,91,91,...,93,77,83,NaN,85,74,NaN,80,NaN,84
24,Kansas .....................,83,NaN,85,NaN,86,NaN,86,86,86,...,94,75,81,NaN,84,78,NaN,80,NaN,79
25,Kentucky .................................,---,NaN,---,NaN,86,NaN,88,88,89,...,93,76,77,NaN,87,74,NaN,67,NaN,87
26,Louisiana ...................,71,NaN,72,NaN,74,NaN,75,78,79,...,91,77,81,NaN,82,53,NaN,36,NaN,73
27,Maine .....................,84,NaN,85,NaN,86,NaN,87,88,87,...,88,>=50,71,NaN,79,73,NaN,81,NaN,79
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Maryland ....................,83,NaN,84,NaN,85,NaN,86,87,88,...,96,89,86,NaN,91,68,NaN,45,NaN,79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48,Oklahoma ....................,---,NaN,---,NaN,85,NaN,83,83,82,...,86,84,83,NaN,83,77,NaN,57,NaN,77
49,Oregon ......................,68,NaN,68,NaN,69,NaN,72,74,75,...,89,69,59,NaN,77,59,NaN,55,NaN,70
50,Pennsylvania ...............,83,NaN,84,NaN,86,NaN,85,85,86,...,92,90,73,NaN,79,74,NaN,65,NaN,80
51,Rhode Island ..............................,77,NaN,77,NaN,80,NaN,81,83,83,...,89,68,73,NaN,79,63,NaN,72,NaN,76
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,South Carolina ..........................,74,NaN,75,NaN,78,NaN,80,80,83,...,---,---,76,NaN,---,54,NaN,77,NaN,85
54,South Dakota .............................,83,NaN,83,NaN,83,NaN,83,84,84,...,‡,‡,50,NaN,78,60,NaN,59,NaN,67
55,Tennessee ...............................,86,NaN,87,NaN,86,NaN,87,88,89,...,94,93,89,NaN,---,73,NaN,74,NaN,85
56,Texas ....................................,86,NaN,88,NaN,88,NaN,88,89,89,...,96,89,86,NaN,92,77,NaN,76,NaN,87
57,Utah ...................................,76,NaN,80,NaN,83,NaN,84,85,85,...,89,86,74,NaN,87,69,NaN,67,NaN,77
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Vermont ....................,87,NaN,88,NaN,87,NaN,88,88,88,...,‡,‡,‡,NaN,83,76,NaN,66,NaN,81
60,Virginia ....................,82,NaN,83,NaN,85,NaN,85,86,87,...,94,91,83,NaN,90,60,NaN,57,NaN,78
61,Washington ..................,76,NaN,77,NaN,76,NaN,78,78,80,...,88,68,62,NaN,80,59,NaN,58,NaN,70
62,West Virginia ...........................,78,NaN,79,NaN,81,NaN,85,87,90,...,95,>=50,>=80,NaN,83,76,NaN,‡,NaN,87
63,Wisconsin ................................,87,NaN,88,NaN,88,NaN,89,88,88,...,91,85,79,NaN,84,68,NaN,65,NaN,77
64,Wyoming ...................................,80,NaN,79,NaN,77,NaN,79,79,80,...,81,>=50,59,NaN,79,68,NaN,77,NaN,65
65,#NAME?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,‡Reporting standards not met (too few cases).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,\1\The time when students are identified as ha...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,\2\Students identified as children with disabi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,\3\Students who met the definition of limited ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,\4\Students who met the state criteria for cla...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,"\5\States either report data for a combined ""A...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,"\6\Includes imputed data for Idaho, Kentucky, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,\7\Includes imputed data for Idaho. Data were ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,\8\Includes estimated data for Alabama because...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,\9\Use data with caution. The Alabama State De...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,NOTE: The adjusted cohort graduation rate (ACG...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,"SOURCE: U.S. Department of Education, Office o...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [221]:
import re

selected_cols = ['State']
for i in range(10,len(grad.columns)):
#     print(grad[grad.columns[i]].isna().sum())
    if grad[grad.columns[i]].isna().sum() != 77: selected_cols += [grad.columns[i]]
# grad_parsed = grad[selected_cols]

selected_rows = []
for i in range(len(grad)-13):
#     print(grad[i:i+1].isna().sum().sum())
    if (grad[i:i+1].isna().sum().sum() != 25): selected_rows += [i]

grad_parsed = grad[selected_cols].iloc[selected_rows].reset_index()
grad_parsed = grad_parsed.drop('index', axis=1).drop([3], axis=0)

header = ["State","Total", "White", "Black", "Hispanic", "Asian/Pacific Islander", "Asian", "Pacific Islander", 
          "American Indian/Alaska/Native", "Two or more races", "Students with Disabilities", 
          "Limited English", "Economically disadvantaged"]

grad_parsed.columns = header
grad_parsed = grad_parsed[3:].reset_index().drop('index', axis=1)

states=[]
for i in grad_parsed['State']:
    states += [re.sub("[^a-zA-Z]+", "", i)]
grad_parsed["State"] = states

grad_parsed.to_csv('grad_rates_by_race_parsed.csv', index=False)

In [225]:
agcr = pd.read_csv('grad_rates_by_race_parsed.csv')
agcr

,State,Total,White,Black,Hispanic,Asian/Pacific Islander,Asian,Pacific Islander,American Indian/Alaska/Native,Two or more races,Students with Disabilities,Limited English,Economically disadvantaged
0,UnitedStates,85,89,78,80,91,---,---,72,---,67,66,78
1,Alabama,89,91,87,88,95,---,---,---,91,---,---,---
2,Alaska,78,82,74,77,84,88,77,69,75,59,58,72
3,Arizona,78,83,74,75,89,---,---,67,---,66,30,72
4,Arkansas,88,90,83,86,86,92,69,89,86,84,82,85
5,California,83,87,73,80,93,93,91,68,70,65,67,79
6,Colorado,79,84,72,71,89,90,77,64,80,57,65,69
7,Connecticut,88,93,80,78,95,95,81,88,88,67,68,78
8,Delaware,87,90,83,82,95,96,>=50,76,91,69,69,78
9,DistrictofColumbia,73,85,72,72,78,‡,‡,‡,>=90,53,63,73
10,Florida,82,86,75,81,93,93,87,80,83,66,67,77
11,Georgia,81,84,78,74,91,---,---,79,82,59,59,76
12,Hawaii,83,80,79,80,84,---,---,79,---,65,69,78
13,Idaho,80,81,70,75,85,86,78,66,76,61,75,72
14,Illinois,87,91,79,84,95,95,82,81,86,71,74,79
15,Indiana,84,88,71,76,80,81,70,76,82,71,50,80
16,Iowa,91,93,82,82,91,93,77,83,85,74,80,84
17,Kansas,87,89,78,81,93,94,75,81,84,78,80,79
18,Kentucky,90,91,82,84,92,93,76,77,87,74,67,87
19,Louisiana,78,84,73,67,90,91,77,81,82,53,36,73
20,Maine,87,87,83,89,89,88,>=50,71,79,73,81,79
21,Maryland,88,93,85,74,96,96,89,86,91,68,45,79
22,Massachusetts,88,93,80,74,94,94,78,81,85,73,63,79
23,Michigan,80,84,69,73,91,91,85,68,75,57,69,68
24,Minnesota,83,88,65,66,85,86,63,51,71,61,65,69
25,Mississippi,83,87,79,81,91,91,>=80,80,79,36,67,80
26,Missouri,88,91,76,84,91,---,---,84,89,77,67,80
27,Montana,86,89,81,80,91,94,83,69,---,77,63,77
28,Nebraska,89,93,81,82,82,82,85,70,86,71,50,82
29,Nevada,81,84,68,80,91,93,82,74,81,65,82,77
30,NewHampshire,89,90,79,76,93,93,>=50,75,85,74,78,78
31,NewJersey,91,95,83,84,97,97,>=95,92,92,79,76,84
32,NewMexico,71,76,68,71,85,---,---,61,---,62,68,66
33,NewYork,82,90,72,71,88,88,77,67,83,55,31,75
34,NorthCarolina,87,89,84,81,94,---,---,84,84,70,58,82
35,NorthDakota,87,91,75,76,80,80,---,68,---,66,69,74
36,Ohio,84,88,69,74,88,---,---,76,79,71,55,73
37,Oklahoma,83,84,80,79,86,86,84,83,83,77,57,77
38,Oregon,77,78,68,73,86,89,69,59,77,59,55,70
39,Pennsylvania,87,91,74,74,92,92,90,73,79,74,65,80
40,RhodeIsland,84,88,81,76,88,89,68,73,79,63,72,76
41,SouthCarolina,84,85,81,81,93,---,---,76,---,54,77,85
42,SouthDakota,84,90,78,71,85,‡,‡,50,78,60,59,67
43,Tennessee,90,93,84,84,94,94,93,89,---,73,74,85
44,Texas,90,94,86,88,96,96,89,86,92,77,76,87
45,Utah,86,88,73,77,87,89,86,74,87,69,67,77
46,Vermont,89,90,77,90,82,‡,‡,‡,83,76,66,81
47,Virginia,87,91,83,73,93,94,91,83,90,60,57,78
48,Washington,79,82,72,73,85,88,68,62,80,59,58,70
49,WestVirginia,89,90,87,92,95,95,>=50,>=80,83,76,‡,87
50,Wisconsin,89,93,67,80,91,91,85,79,84,68,65,77
51,Wyoming,86,88,83,80,84,81,>=50,59,79,68,77,65

In [277]:
means_by_dem = dict()
for col in range(2,len(agcr.columns)):
    ok = []
    for row in range(len(agcr)):
        if type(agcr.iloc[row,col]) == np.int64 or agcr.iloc[row,col].isdigit(): 
            ok += [int(agcr.iloc[row,col]) - agcr.iloc[row,1]]
    means_by_dem[agcr.columns[col]] = np.mean(ok)

# Average difference in percentage between racial demographic and total
means_by_dem

plt.

{'White': 3.3653846153846154,
 'Black': -7.403846153846154,
 'Hispanic': -6.134615384615385,
 'Asian/Pacific Islander': 4.865384615384615,
 'Asian': 5.487179487179487,
 'Pacific Islander': -4.580645161290323,
 'American Indian/Alaska/Native': -10.0,
 'Two or more races': -2.3488372093023258,
 'Students with Disabilities': -17.705882352941178,
 'Limited English': -19.68,
 'Economically disadvantaged': -7.392156862745098}