In [3]:
import xlrd
import pandas as pd
import csv
import sqlite3
import matplotlib
matplotlib.use("svg")
import matplotlib.pyplot as plt
import os
if not os.environ.get("DISABLE_TESTING", False):
    %matplotlib inline
plt.style.use('ggplot')
import numpy as np

In [4]:
##Read table using pandas 
df1 = pd.read_csv("grad_rates_pupil_teacher_ratio.csv",skiprows=6)

In [5]:
df1

,County Name,County Name [Public School] 2017-18,County Name [Public School] 2016-17,Total Number of Public Schools [Public School] 2017-18,Total Number of Public Schools [Public School] 2016-17,American Indian/Alaska Native - male [Public School] 2017-18,American Indian/Alaska Native - male [Public School] 2016-17,American Indian/Alaska Native - female [Public School] 2017-18,American Indian/Alaska Native - female [Public School] 2016-17,Asian or Asian/Pacific Islander - male [Public School] 2017-18,...,Hawaiian Nat./Pacific Isl. - male [Public School] 2017-18,Hawaiian Nat./Pacific Isl. - male [Public School] 2016-17,Hawaiian Nat./Pacific Isl. - female [Public School] 2017-18,Hawaiian Nat./Pacific Isl. - female [Public School] 2016-17,Two or More Races - male [Public School] 2017-18,Two or More Races - male [Public School] 2016-17,Two or More Races - female [Public School] 2017-18,Two or More Races - female [Public School] 2016-17,Pupil/Teacher Ratio [Public School] 2017-18,Pupil/Teacher Ratio [Public School] 2016-17
0,Abbeville County SC,Abbeville County,Abbeville County,10.0,10.0,3,3,3,1,4,...,3,2,1,"=""0""",34,38,26,28,13.17,13.49
1,Acadia Parish LA,Acadia Parish,Acadia Parish,27.0,27.0,†,†,†,†,†,...,†,†,†,†,207,198,237,214,20.30,17.92
2,Accomack County VA,Accomack County,Accomack County,13.0,13.0,4,4,4,4,22,...,"=""0""",1,5,4,15,16,18,16,16.55,16.26
3,Ada County ID,Ada County,Ada County,136.0,134.0,210,224,207,221,991,...,†,163,†,166,1446,1313,1358,1240,18.99,19.25
4,Adair County IA,Adair County,Adair County,5.0,5.0,–,–,†,†,†,...,–,–,–,–,12,13,14,11,11.41,12.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,Totals:,NaN,NaN,99337.0,99138.0,†,†,†,†,†,...,†,†,†,†,952629,890554,924383,860392,NaN,NaN
3139,Data Source: U.S. Department of Education Nati...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3140,† indicates that the data are not applicable.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3141,– indicates that the data are missing.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3142,‡ indicates that the data do not meet NCES dat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#create and read table using sqlite
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

#Column names end with 16 indicate school year 16-17
#Column names end with 17 indicate school year 17-18
cursor.execute("""
CREATE TABLE GRAD_RATIO(
    county_name TEXT,
    county_name_17 TEXT,
    county_name_16 TEXT,
    total_num_schools_17 INTEGER,
    total_num_schools_16 INTEGER,
    american_indian_male_17 INTEGER,
    american_indian_male_16 INTEGER,
    american_indian_female_17 INTEGER,
    american_indian_female_16 INTEGER,
    asian_male_17 INTEGER,
    asian_male_16 INTEGER,
    asian_female_17 INTEGER,
    asian_female_16 INTEGER,
    hispanic_male_17 INTEGER,
    hispanic_male_16 INTEGER,
    hispanic_female_17 INTEGER,
    hispanic_female_16 INTEGER,
    black_male_17 INTEGER,
    black_male_16 INTEGER,
    black_female_17 INTEGER,
    black_female_16 INTEGER,
    white_male_17 INTEGER,
    white_male_16 INTEGER,
    white_female_17 INTEGER,
    white_female_16 INTEGER,
    hawaiian_male_17 INTEGER,
    hawaiian_male_16 INTEGER,
    hawaiian_female_17 INTEGER,
    hawaiian_female_16 INTEGER,
    mixed_male_17 INTEGER,
    mixed_male_16 INTEGER,
    mixed_female_17 INTEGER,
    mixed_female_16 INTEGER,
    student_teacher_ratio_17 INTEGER,
    student_teacher_ratio_16 INTEGER
);""")

conn.commit()

with open ("grad_rates_pupil_teacher_ratio.csv") as grad_ratio:
    data = csv.reader(grad_ratio)
    counter = 0
    for row in data:
        if counter >= 7 and len(row)>=35:
            #print(counter)
            cursor.execute("""INSERT INTO GRAD_RATIO VALUES (?,?,?,?,?,?,?,?,?,?,
                                                             ?,?,?,?,?,?,?,?,?,?,
                                                             ?,?,?,?,?,?,?,?,?,?,
                                                             ?,?,?,?,?)""", tuple(row))
        counter += 1

        conn.commit()
            

pd.read_sql_query("SELECT * from GRAD_RATIO;", conn)

,county_name,county_name_17,county_name_16,total_num_schools_17,total_num_schools_16,american_indian_male_17,american_indian_male_16,american_indian_female_17,american_indian_female_16,asian_male_17,...,hawaiian_male_17,hawaiian_male_16,hawaiian_female_17,hawaiian_female_16,mixed_male_17,mixed_male_16,mixed_female_17,mixed_female_16,student_teacher_ratio_17,student_teacher_ratio_16
0,Abbeville County SC,Abbeville County,Abbeville County,10,10,3,3,3,1,4,...,3,2,1,"=""0""",34,38,26,28,13.17,13.49
1,Acadia Parish LA,Acadia Parish,Acadia Parish,27,27,†,†,†,†,†,...,†,†,†,†,207,198,237,214,20.3,17.92
2,Accomack County VA,Accomack County,Accomack County,13,13,4,4,4,4,22,...,"=""0""",1,5,4,15,16,18,16,16.55,16.26
3,Ada County ID,Ada County,Ada County,136,134,210,224,207,221,991,...,†,163,†,166,1446,1313,1358,1240,18.99,19.25
4,Adair County IA,Adair County,Adair County,5,5,–,–,†,†,†,...,–,–,–,–,12,13,14,11,11.41,12.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3134,Yuma County CO,Yuma County,Yuma County,10,10,†,†,†,†,–,...,–,–,–,–,†,†,†,†,12.76,12.76
3135,Zapata County TX,Zapata County,Zapata County,6,6,"=""0""","=""0""","=""0""","=""0""",1,...,"=""0""","=""0""","=""0""","=""0""","=""0""",1,"=""0""","=""0""",16.17,14.94
3136,Zavala County TX,Zavala County,Zavala County,8,8,1,1,1,2,2,...,"=""0""","=""0""","=""0""","=""0""",1,4,1,1,13.56,12.56
3137,Ziebach County SD,Ziebach County,Ziebach County,4,4,262,279,281,272,"=""0""",...,"=""0""","=""0""","=""0""","=""0""","=""0""","=""0""",1,2,10.59,11.02
3138,Totals:,n/a,n/a,99337,99138,†,†,†,†,†,...,†,†,†,†,952629,890554,924383,860392,n/a,n/a

In [7]:
#Load graduation_rate_total 
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE GRAD_RATE_TOTAL(
    region_id INTEGER,
    region_name TEXT,
    region_type TEXT,
    year INTEGER,
    variable TEXT,
    percentage REAL  
);""")

conn.commit()


with open ("graduation_rates_total.csv",encoding='latin-1') as grad_rate:
    data = csv.reader(grad_rate)
    counter = 0
    for row in data:
        if counter >= 1:
            cursor.execute("INSERT INTO GRAD_RATE_TOTAL VALUES (?,?,?,?,?,?)",tuple(row))
        counter += 1
        
conn.commit()



pd.read_sql_query("SELECT * from GRAD_RATE_TOTAL;", conn)

,region_id,region_name,region_type,year,variable,percentage
0,0500000US72011,"A?asco Municipio, Puerto Rico",county,2015,percent_high_school_graduate_or_higher,67.4
1,0500000US72011,"Aí±asco Municipio, Puerto Rico",county,2011,percent_high_school_graduate_or_higher,60.9
2,0500000US72011,"Aí±asco Municipio, Puerto Rico",county,2010,percent_high_school_graduate_or_higher,59.3
3,0500000US45001,"Abbeville County, South Carolina",county,2016,percent_high_school_graduate_or_higher,78.3
4,0500000US45001,"Abbeville County, South Carolina",county,2015,percent_high_school_graduate_or_higher,78.1
...,...,...,...,...,...,...
10528,0500000US48507,"Zavala County, Texas",county,2015,percent_high_school_graduate_or_higher,60.2
10529,0500000US48507,"Zavala County, Texas",county,2010,percent_high_school_graduate_or_higher,57.7
10530,0500000US46137,"Ziebach County, South Dakota",county,2016,percent_high_school_graduate_or_higher,85.4
10531,0500000US46137,"Ziebach County, South Dakota",county,2015,percent_high_school_graduate_or_higher,86.4
10532,0500000US46137,"Ziebach County, South Dakota",county,2012,percent_high_school_graduate_or_higher,83.7

In [8]:
fin_df = pd.read_excel("financial_data.xls", sheet_name=["14","15","16","17","18"], skiprow=5)
fin_df_pps = fin_df["18"].fillna(-1)

In [9]:
# print(fin_df["18"].columns)
per_pupil_spending = pd.DataFrame([], columns=["Rank", "School System", "State", "Enrollment", "Instruction_Total", 
                              "Instruction_Salaries", "Instruction_EmployeeBenefits", "Support_Total", 
                              "Support_Pupil", "Support_Staff","Support_GeneralAdmin", "Support_SchoolAdmin"])
per_pupil_spending["Rank"] = [i for i in range(100)]
per_pupil_spending["School System"] = [i for i in fin_df_pps["Unnamed: 2"][4:] if i !="School System" and i != -1]
per_pupil_spending["State"] = [i for i in fin_df_pps["Unnamed: 3"][4:] if i !="State" and i != -1]
per_pupil_spending["Enrollment"] = [int(i) for i in fin_df_pps["Unnamed: 4"] if i != -1 and type(i) != str]
per_pupil_spending["Instruction_Total"] = [int(i) for i in fin_df_pps["Unnamed: 8"] if i != -1 and type(i) != str]
per_pupil_spending["Instruction_Salaries"] = [int(i) for i in fin_df_pps["Unnamed: 9"] if i != -1 and type(i) != str]
per_pupil_spending["Instruction_EmployeeBenefits"] = [int(i) for i in fin_df_pps["Unnamed: 10"] if i != -1 and type(i) != str]
per_pupil_spending["Support_Total"] = [int(i) for i in fin_df_pps["Unnamed: 11"] if i != -1 and type(i) != str]
per_pupil_spending["Support_Pupil"] = [int(i) for i in fin_df_pps["Unnamed: 12"] if i != -1 and type(i) != str]
per_pupil_spending["Support_Staff"] = [int(i) for i in fin_df_pps["Unnamed: 13"] if i != -1 and type(i) != str]
per_pupil_spending["Support_GeneralAdmin"] = [int(i) for i in fin_df_pps["Unnamed: 14"] if i != -1 and type(i) != str]
per_pupil_spending["Support_SchoolAdmin"] = [int(i) for i in fin_df_pps["Unnamed: 15"] if i != -1 and type(i) != str]

per_pupil_spending.to_csv(index=False)

'Rank,School System,State,Enrollment,Instruction_Total,Instruction_Salaries,Instruction_EmployeeBenefits,Support_Total,Support_Pupil,Support_Staff,Support_GeneralAdmin,Support_SchoolAdmin\n0,New York City County,New York,984462,19110,10413,6584,5494,129,102,87,574\n1,Los Angeles Unified,California,633621,7884,4466,2296,5005,729,987,92,978\n2,Cook County,Illinois,378199,9372,4352,2990,3602,734,354,337,545\n3,Miami-Dade County,Florida,357249,5981,3094,1119,2807,386,432,65,460\n4,Clark County,Nevada,326953,5362,3486,1400,3222,435,521,110,663\n5,Broward County,Florida,271852,5675,3073,882,2964,479,427,69,504\n6,Houston County,Texas,216106,5096,3663,610,4061,374,435,133,614\n7,Hillsborough County,Florida,214386,5556,3593,974,2834,389,738,75,485\n8,Orange County,Florida,200674,5499,3029,1015,3306,285,943,75,591\n9,Palm Beach County,Florida,192721,6299,3424,1202,3019,307,593,94,546\n10,Fairfax County,Virginia,187467,9030,6037,2606,4933,853,995,62,858\n11,Hawaii Public Schools,Hawaii,181550,8372,5262,2314,5227,1348,483,71,1028\n12,Gwinnett County,Georgia,178214,5556,3921,1471,3564,434,364,52,752\n13,Wake County,North Carolina,160467,5729,4105,1368,2579,515,282,50,485\n14,Montgomery County,Maryland,159010,10655,6924,3200,5101,628,994,78,1060\n15,Dallas County,Texas,157886,5625,4398,683,3773,553,677,88,596\n16,Charlotte/Mecklenburg,North Carolina,147428,5817,3918,1305,2762,401,249,95,537\n17,Philadelphia,Pennsylvania,133929,6918,3607,2505,4219,454,493,458,493\n18,Prince Georges County,Maryland,130814,9581,5935,2561,5424,777,572,110,952\n19,Duval County,Florida,129479,5583,3052,1045,3013,509,532,61,466\n20,San Diego Unified,California,128040,6965,4200,2250,4282,1007,543,77,753\n21,Harris County,Texas,114868,5366,4317,630,2429,395,318,50,397\n22,Cobb County,Georgia,113151,6530,4448,1713,2920,453,415,110,643\n23,Baltimore County,Maryland,112139,9008,5436,2478,4832,753,623,83,1027\n24,Shelby County,Tennessee,111403,6271,4019,1337,3712,608,605,179,718\n25,Houston County,Texas,106145,5458,4230,801,2722,427,458,44,451\n26,Pinellas County,Florida,102905,5762,3716,1109,3108,400,567,68,553\n27,Polk County,Florida,102295,5976,3048,971,2626,373,489,79,420\n28,DeKalb County,Georgia,101284,6365,4391,1579,3612,577,454,159,618\n29,Jefferson County,Kentucky,99813,6560,4674,1698,5103,595,1349,51,868\n30,Fulton County,Georgia,96122,6299,4588,1575,3858,568,668,68,643\n31,Lee County,Florida,92686,5423,2988,865,3223,337,494,81,517\n32,Denver,Colorado,91138,5475,4207,695,5425,651,1159,111,1204\n33,Bernalillo County,New Mexico,90651,5494,3900,1363,3350,920,240,108,538\n34,Prince William County,Virginia,89345,6280,4455,1495,4234,542,822,463,769\n35,Fort Worth,Texas,87428,5581,4451,694,3430,673,631,47,545\n36,Jefferson County,Colorado,86371,5205,3713,1086,3816,503,638,92,751\n37,Davidson County,Tennessee,85163,6253,3968,1666,4384,620,962,45,832\n38,Austin,Texas,83067,5645,4253,1003,3980,459,643,102,661\n39,Baltimore,Maryland,82354,10197,5601,2684,5381,792,671,624,1076\n40,Anne Arundel County,Maryland,81379,8806,5390,2544,4567,554,674,97,971\n41,Utah County,Utah,78957,4373,2493,1410,1715,194,237,25,406\n42,Loudoun County,Virginia,78348,8971,5637,2714,4876,724,586,134,809\n43,Greenville County,South Carolina,76918,5234,3572,1320,3556,734,533,33,636\n44,Los Angeles County,California,76428,7907,4562,2235,3849,608,627,65,697\n45,Milwaukee,Wisconsin,76206,7925,4121,1891,5548,836,925,468,662\n46,Harris County,Texas,75428,5939,4719,751,2839,488,349,77,484\n47,Fort Bend,Texas,74146,5159,4047,745,3193,544,446,64,531\n48,Brevard County,Florida,73444,5264,3253,896,2782,340,679,60,522\n49,Fresno Unified,California,73356,7043,4222,2082,4364,747,751,97,732\n50,Guilford County,North Carolina,73059,5957,4008,1359,3145,593,383,70,527\n51,Davis County,Utah,72987,4413,2694,1327,1965,219,285,38,472\n52,Pasco County,Florida,72493,5044,3119,1012,3029,408,521,60,544\n53,Harris County,Texas,69768,5912,4596,730,3687,537,548,59,655\n54,Salt Lake County,Utah,69580,4641,2873,1416,2170,310,234,55,458\n55,Virginia Beach City County,Virginia,69085,6533,4531,1684,4277,509,916,90,665\n56,Seminole County,Florida,67808,5118,3328,1026,2600,376,337,75,488\n57,North East,Texas,67531,5383,4121,820,3143,501,538,55,534\n58,Douglas County,Colorado,67470,5080,3514,1136,3369,404,428,55,717\n59,Washoe County,Nevada,66671,5247,3507,1429,3782,809,597,163,602\n60,Maricopa County,Arizona,63444,4350,3005,904,3134,674,463,45,388\n61,Sacramento County,California,63061,7095,4362,2083,3643,683,573,51,683\n62,Osceola County,Florida,63031,5229,2612,797,2634,381,557,69,372\n63,Volusia County,Florida,63028,5114,3332,947,2842,361,569,57,572\n64,Tarrant County,Texas,62181,5509,4543,616,2937,593,491,56,470\n65,Knox County,Tennessee,60372,5105,3671,1009,2979,382,632,115,547\n66,San Francisco Unified,California,60133,5647,3825,1688,5439,847,2001,205,756\n67,Chesterfield County,Virginia,60060,6177,4045,1914,3086,426,526,85,581\n68,Montgomery County,Texas,59764,5147,4129,690,2776,429,317,80,489\n69,El Paso,Texas,59424,5575,4211,782,3475,607,719,71,632\n70,Dallas County,Texas,57133,5246,4078,641,3051,520,547,61,525\n71,Mobile County,Alabama,56628,5012,3222,1282,3674,539,424,162,528\n72,Harris County,Texas,56282,5950,4767,816,3072,527,416,50,645\n73,Collin County,Texas,55923,5319,4365,646,2480,411,388,70,507\n74,Howard County,Maryland,55626,11492,7635,3182,4161,315,122,249,1420\n75,Forsyth County,North Carolina,55228,6074,4107,1410,2616,571,304,46,492\n76,Arapahoe County,Colorado,54852,7065,5169,1400,3006,579,390,95,492\n77,Orange County,California,54505,7572,4796,2119,3956,575,645,47,747\n78,Clayton County,Georgia,54345,5812,3926,1258,3246,530,553,238,510\n79,King County,Washington,54215,8401,5688,1929,5159,1000,770,176,884\n80,Collin County,Texas,54173,6003,4878,670,3055,518,388,96,489\n81,Suffolk County,Massachusetts,53640,12612,8733,3708,8712,1353,2173,381,926\n82,Orange County,California,53613,5837,3727,1694,2859,566,341,52,580\n83,Salt Lake County,Utah,53416,3992,2474,1090,1968,224,264,46,409\n84,Denton County,Texas,53257,5646,4513,709,2878,475,353,75,561\n85,Riverside County,California,53157,7131,4738,1621,3720,730,431,47,784\n86,San Bernardino Unified,California,53152,7275,4324,1927,4773,883,640,68,926\n87,Bexar County,Texas,52514,5850,4200,1056,3920,675,789,71,633\n88,Douglas County,Nebraska,52344,8001,4987,2080,3731,429,262,185,567\n89,Fulton County,Georgia,51927,6716,5208,2503,6973,1266,1192,215,1089\n90,Klein,Texas,51810,5594,4406,729,2959,574,417,81,549\n91,Henrico County,Virginia,51425,5782,4032,1523,3441,467,622,111,602\n92,Cumberland County,North Carolina,51194,5388,3832,1207,2606,449,367,38,599\n93,Sedgwick County,Kansas,50600,6048,4059,1620,4220,987,599,99,699\n94,Franklin County,Ohio,50331,8324,5227,2114,6506,1424,825,185,832\n95,Alameda County,California,49760,6487,3583,1821,4724,413,1266,150,912\n96,Nevada County,California,49255,6212,3747,1868,3911,508,929,78,834\n97,Manatee County,Florida,48884,5356,2828,840,2894,370,470,72,501\n98,Jefferson Parish,Louisiana,48668,6053,3703,1837,4412,790,390,514,755\n99,Charleston County,South Carolina,48551,5716,3781,1374,4600,756,776,76,768\n'

In [10]:
#Finance sheet 17
fin_df_percent_dist_rev = fin_df["17"].fillna(-1)

In [11]:
percent_dist_rev = pd.DataFrame([], columns=["Rank","School System","State","Enrollment","Overall Total Percentage",
                                             "Federal Total Percentage","Federal Title I","State Total Percentage",
                                             "State General Formula Assistance","Local Total Percentage",
                                             "Local Taxes Parent Government Contributions","Other Local Government",
                                            "Charges"])

percent_dist_rev["Rank"] = [i for i in range(100)]
percent_dist_rev["School System"] = [i for i in fin_df_percent_dist_rev["Unnamed: 2"][4:] if i !="School System" and i != -1]
percent_dist_rev["State"] = [i for i in fin_df_percent_dist_rev["Unnamed: 3"][4:] if i !="State" and i != -1]
percent_dist_rev["Enrollment"] = [int(i) for i in fin_df_percent_dist_rev["Unnamed: 4"] if i != -1 and type(i) != str]
percent_dist_rev["Overall Total Percentage"] = [float(i) for i in fin_df_percent_dist_rev["Unnamed: 5"][4:] if i !="Total" and i != -1]
percent_dist_rev["Federal Total Percentage"] = [float(i) for i in (fin_df_percent_dist_rev["Unnamed: 6"]) if i !="Federal sources" and i != "Total2" and i != -1]
percent_dist_rev["Federal Title I"] = [float(i) for i in (fin_df_percent_dist_rev["Unnamed: 7"]) if i !="Federal sources" and i != "Title I" and i != -1]
percent_dist_rev["State Total Percentage"] = [float(i) for i in (fin_df_percent_dist_rev["Unnamed: 8"]) if i !="State sources" and i != "Total2" and i != -1]
percent_dist_rev["State General Formula Assistance"] = [float(i) for i in (fin_df_percent_dist_rev["Unnamed: 9"]) if i !="State sources" and i != "General" and i !="formula" and i != "assistance" and i != -1]
percent_dist_rev["Local Total Percentage"] = [float(i) for i in (fin_df_percent_dist_rev["Unnamed: 10"]) if i !="Local sources" and i != "Total2" and i != -1]

#This function changes the (Z) to zeros  
def changeZ(i):
    try:
        return (float(i))
    except:
        return(0.0)

percent_dist_rev["Local Taxes Parent Government Contributions"] = [changeZ(i) for i in (fin_df_percent_dist_rev["Unnamed: 11"]) if i !="Local sources" and i != -1 and i!="Taxes and" and i != "parent" and i != "government" and i != "contributions"]
percent_dist_rev["Other Local Government"] = [changeZ(i) for i in (fin_df_percent_dist_rev["Unnamed: 12"]) if i !="Local sources" and i != -1 and i!="Other" and i != "local" and i != "governments"]
percent_dist_rev["Charges"] = [changeZ(i) for i in (fin_df_percent_dist_rev["Unnamed: 13"]) if i !="Local sources" and i != -1 and i!="Charges"]


percent_dist_rev.to_csv(index=False)

'Rank,School System,State,Enrollment,Overall Total Percentage,Federal Total Percentage,Federal Title I,State Total Percentage,State General Formula Assistance,Local Total Percentage,Local Taxes Parent Government Contributions,Other Local Government,Charges\n0,New York City,New York,984462,100.0,6.9,3.2,37.1,25.2,56.0,52.1,0.0,0.2\n1,Los Angeles Unified,California,633621,100.0,10.8,3.6,62.8,48.0,26.3,20.2,2.0,0.8\n2,Chicago,Illinois,378199,100.0,13.4,5.0,34.4,28.3,52.2,46.5,1.3,0.9\n3,Miami-Dade County,Florida,357249,100.0,12.3,3.8,29.9,10.0,57.8,52.5,0.0,3.6\n4,Clark County,Nevada,326953,100.0,9.2,2.9,62.2,18.9,28.6,26.9,0.0,0.5\n5,Broward County,Florida,271852,100.0,10.9,2.5,38.8,16.7,50.3,43.3,0.0,4.5\n6,Houston,Texas,216106,100.0,12.1,3.7,8.1,5.1,79.8,75.9,1.3,0.5\n7,Hillsborough County,Florida,214386,100.0,14.3,3.2,50.5,23.9,35.2,28.7,0.0,3.0\n8,Orange County,Florida,200674,100.0,9.6,2.7,34.5,14.8,55.9,48.7,0.0,2.6\n9,Palm Beach County,Florida,192721,100.0,9.1,2.3,24.5,7.8,66.4,58.4,0.0,6.2\n10,Fairfax County,Virginia,187467,100.0,4.4,0.7,21.9,16.4,73.6,68.7,1.6,1.9\n11,Hawaii Public Schools,Hawaii,181550,100.0,8.9,1.8,89.1,44.1,2.0,0.0,0.0,1.5\n12,Gwinnett County,Georgia,178214,100.0,7.4,2.1,48.0,30.7,44.6,37.9,1.9,2.7\n13,Wake County,North Carolina,160467,100.0,7.4,1.8,61.1,61.1,31.5,28.5,0.0,2.1\n14,Montgomery County,Maryland,159010,100.0,3.8,0.8,27.9,11.7,68.3,67.4,0.0,0.7\n15,Dallas,Texas,157886,100.0,14.8,3.9,17.7,14.1,67.5,64.8,0.0,0.5\n16,Charlotte/Mecklenburg,North Carolina,147428,100.0,10.3,3.2,56.0,55.0,33.7,29.6,0.0,2.0\n17,Philadelphia,Pennsylvania,133929,100.0,10.0,4.4,48.9,33.2,41.1,36.0,0.5,0.0\n18,Prince Georges County,Maryland,130814,100.0,6.4,1.6,53.5,25.7,40.1,37.8,0.0,0.7\n19,Duval County,Florida,129479,100.0,12.0,3.3,50.2,25.3,37.8,32.1,0.0,4.0\n20,San Diego Unified,California,128040,100.0,9.1,2.2,33.5,20.3,57.3,49.2,4.1,0.7\n21,Cypress-Fairbanks,Texas,114868,100.0,7.5,1.5,31.6,27.8,60.9,55.8,0.1,3.3\n22,Cobb County,Georgia,113151,100.0,6.7,1.8,40.4,17.1,52.8,43.8,2.4,4.7\n23,Baltimore County,Maryland,112139,100.0,5.7,1.5,41.7,20.9,52.6,51.6,0.0,0.7\n24,Shelby County,Tennessee,111403,100.0,18.4,6.1,39.4,38.0,42.1,36.1,0.1,2.7\n25,Northside,Texas,106145,100.0,9.9,1.8,30.1,26.2,60.0,55.9,0.0,2.6\n26,Pinellas County,Florida,102905,100.0,10.8,2.6,34.1,13.7,55.2,50.1,0.1,3.1\n27,Polk County,Florida,102295,100.0,12.7,3.2,54.2,27.2,33.1,24.6,0.0,6.3\n28,DeKalb County,Georgia,101284,100.0,8.1,2.5,39.9,19.0,52.0,46.0,1.9,0.2\n29,Jefferson County,Kentucky,99813,100.0,11.7,3.1,38.8,19.3,49.5,47.3,0.2,0.8\n30,Fulton County,Georgia,96122,100.0,6.2,2.3,30.7,19.1,63.1,54.4,2.7,1.4\n31,Lee County,Florida,92686,100.0,12.2,3.0,29.4,10.9,58.3,52.5,0.0,4.2\n32,Denver,Colorado,91138,100.0,8.8,2.3,26.2,22.1,64.9,53.1,0.2,3.9\n33,Albuquerque,New Mexico,90651,100.0,11.9,3.5,67.7,62.1,20.4,15.2,0.2,0.8\n34,Prince William County,Virginia,89345,100.0,5.7,1.2,41.1,29.4,53.2,46.2,3.8,2.0\n35,Fort Worth,Texas,87428,100.0,13.3,4.0,41.2,36.8,45.5,42.5,0.0,1.0\n36,Jefferson County,Colorado,86371,100.0,5.0,1.2,42.1,38.4,52.9,44.2,0.3,7.2\n37,Nashville-Davidson County,Tennessee,85163,100.0,11.5,3.1,28.1,26.7,60.4,57.9,0.0,1.8\n38,Austin,Texas,83067,100.0,7.9,1.8,6.2,3.4,85.9,82.6,0.0,0.9\n39,Baltimore,Maryland,82354,100.0,11.5,4.1,67.8,27.9,20.8,19.4,0.0,0.1\n40,Anne Arundel County,Maryland,81379,100.0,4.6,1.0,36.7,17.3,58.7,57.4,0.0,0.9\n41,Alpine,Utah,78957,100.0,5.5,1.3,59.5,34.4,35.0,27.6,0.0,5.1\n42,Loudoun County,Virginia,78348,100.0,2.1,0.2,27.9,21.4,70.1,65.0,0.5,2.1\n43,Greenville County,South Carolina,76918,100.0,8.3,2.9,51.5,12.9,40.2,29.9,3.4,4.0\n44,Long Beach Unified,California,76428,100.0,10.1,2.7,65.9,50.6,24.0,16.1,2.0,0.6\n45,Milwaukee,Wisconsin,76206,100.0,14.9,6.1,57.7,44.0,27.4,18.1,1.5,1.0\n46,Katy,Texas,75428,100.0,5.1,0.7,27.9,23.3,66.9,62.2,0.0,3.5\n47,Fort Bend,Texas,74146,100.0,6.3,1.2,30.0,25.8,63.6,60.6,0.0,2.2\n48,Brevard County,Florida,73444,100.0,10.0,2.4,45.8,20.6,44.2,38.4,0.0,3.5\n49,Fresno Unified,California,73356,100.0,12.1,4.3,75.4,60.2,12.5,9.8,0.8,0.2\n50,Guilford County,North Carolina,73059,100.0,14.0,3.6,56.0,55.0,30.1,27.2,0.0,1.8\n51,Davis County,Utah,72987,100.0,7.6,1.3,56.9,32.4,35.5,27.8,0.0,4.3\n52,Pasco County,Florida,72493,100.0,10.4,2.3,54.9,27.3,34.7,26.9,0.0,3.7\n53,Aldine,Texas,69768,100.0,14.3,3.6,49.5,44.9,36.2,33.5,0.0,1.3\n54,Granite,Utah,69580,100.0,11.7,3.3,54.0,31.4,34.3,28.6,0.0,3.4\n55,Virginia Beach,Virginia,69085,100.0,7.6,1.6,42.8,31.6,49.7,44.9,2.5,1.4\n56,Seminole County,Florida,67808,100.0,8.4,1.9,47.2,22.5,44.4,37.7,0.0,4.5\n57,North East,Texas,67531,100.0,7.9,1.7,21.0,16.9,71.1,66.6,0.1,3.1\n58,Douglas County,Colorado,67470,100.0,2.7,0.3,46.2,42.8,51.1,37.2,0.5,9.5\n59,Washoe County,Nevada,66671,100.0,9.5,2.2,65.3,21.5,25.2,22.5,0.1,1.0\n60,Mesa Unified,Arizona,63444,100.0,12.1,3.6,46.1,45.3,41.9,32.1,4.9,2.4\n61,Elk Grove Unified,California,63061,100.0,7.4,2.0,72.9,54.5,19.8,16.1,0.1,0.6\n62,Osceola County,Florida,63031,100.0,11.7,2.8,50.5,24.5,37.8,27.2,0.1,3.3\n63,Volusia County,Florida,63028,100.0,10.0,2.9,43.3,19.0,46.7,40.9,0.1,3.6\n64,Arlington,Texas,62181,100.0,10.3,2.7,39.4,35.2,50.3,47.3,0.0,1.4\n65,Knox County,Tennessee,60372,100.0,10.6,3.0,36.5,35.7,52.9,45.3,0.0,6.8\n66,San Francisco Unified,California,60133,100.0,5.5,1.2,19.2,10.4,75.3,61.1,0.8,1.2\n67,Chesterfield County,Virginia,60060,100.0,5.6,1.0,48.2,36.4,46.2,42.3,0.5,2.1\n68,Conroe,Texas,59764,100.0,5.9,1.2,22.8,18.4,71.3,67.9,0.0,1.8\n69,El Paso,Texas,59424,100.0,15.2,4.4,51.5,46.5,33.3,31.5,0.0,0.8\n70,Garland,Texas,57133,100.0,9.2,2.1,52.0,44.5,38.8,35.5,0.2,2.1\n71,Mobile County,Alabama,56628,100.0,13.8,4.3,57.0,47.6,29.1,22.0,2.5,1.7\n72,Pasadena,Texas,56282,100.0,11.3,2.7,57.2,50.0,31.5,27.8,0.0,1.9\n73,Frisco,Texas,55923,100.0,2.2,0.1,22.1,18.5,75.7,68.7,0.1,4.0\n74,Howard County,Maryland,55626,100.0,3.0,0.6,33.3,16.5,63.7,62.4,0.0,0.8\n75,Winston-Salem/Forsyth,North Carolina,55228,100.0,12.3,4.1,59.7,59.2,28.0,23.9,0.0,1.4\n76,Cherry Creek,Colorado,54852,100.0,4.2,0.8,42.5,38.9,53.2,45.6,0.2,6.5\n77,Santa Ana Unified,California,54505,100.0,10.9,2.4,64.4,47.6,24.7,19.1,2.8,0.3\n78,Clayton County,Georgia,54345,100.0,13.1,3.9,53.4,38.1,33.5,29.1,1.3,1.9\n79,Seattle,Washington,54215,100.0,5.5,1.5,48.8,35.7,45.7,39.7,0.1,1.6\n80,Plano,Texas,54173,100.0,4.5,0.7,7.7,4.5,87.8,83.0,0.0,3.6\n81,Boston,Massachusetts,53640,100.0,5.7,2.4,24.1,14.1,70.2,67.8,0.1,1.1\n82,Capistrano Unified,California,53613,100.0,4.0,0.8,34.8,18.0,61.2,57.3,0.9,1.4\n83,Jordan,Utah,53416,100.0,6.6,1.0,55.9,33.3,37.5,30.9,0.0,3.7\n84,Lewisville,Texas,53257,100.0,5.3,0.7,15.0,11.1,79.7,74.4,0.1,3.9\n85,Corona-Norco Unified,California,53157,100.0,5.6,1.1,64.1,47.9,30.3,20.9,5.3,0.9\n86,San Bernardino Unified,California,53152,100.0,10.7,3.9,77.5,62.2,11.8,5.9,4.1,0.2\n87,San Antonio,Texas,52514,100.0,19.9,4.2,42.5,38.5,37.6,35.6,0.2,0.4\n88,Omaha,Nebraska,52344,100.0,11.4,2.8,41.0,33.1,47.5,45.1,0.3,0.7\n89,Atlanta,Georgia,51927,100.0,8.0,3.5,19.6,12.5,72.4,56.5,2.5,0.9\n90,Klein,Texas,51810,100.0,6.6,1.2,39.3,34.7,54.1,49.1,0.0,3.3\n91,Henrico County,Virginia,51425,100.0,7.8,2.0,43.7,32.0,48.5,45.6,0.4,2.1\n92,Cumberland County,North Carolina,51194,100.0,14.4,3.2,63.2,62.2,22.4,19.0,0.0,1.7\n93,Wichita Unified,Kansas,50600,100.0,11.3,3.6,69.3,53.9,19.4,14.0,2.0,0.9\n94,Columbus,Ohio,50331,100.0,10.4,4.0,26.2,19.6,63.4,53.6,1.2,0.7\n95,Oakland Unified,California,49760,100.0,9.4,2.6,51.8,38.1,38.8,28.9,3.0,0.1\n96,San Juan Unified,California,49255,100.0,6.9,2.0,64.0,48.0,29.2,24.5,0.5,1.2\n97,Manatee County,Florida,48884,100.0,10.4,2.8,33.6,13.3,56.0,47.4,0.1,6.0\n98,Jefferson Parish,Louisiana,48668,100.0,13.0,4.3,37.5,36.1,49.5,46.0,0.7,0.9\n99,Charleston County,South Carolina,48551,100.0,8.2,2.0,30.5,5.4,61.4,52.6,3.3,1.8\n'

In [14]:
#Finance sheet 16
fin_df_expenditure = fin_df["16"].fillna(-1)
fin_df_expenditure

,Table 16. Expenditure of the 100 Largest Public Elementary-Secondary School Systems in the United,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,States by Enrollment: Fiscal Year 2017,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,(Thousand dollars. Detail may not add to total...,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,Rank,-1.0,School System,State,-1,Elementary-secondary expenditure,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
292,Notes: See Appendix B for a descript...,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
293,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
294,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
295,SOURCE: 2017 Census of Governments: Finance...,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [96]:
#Finance Sheet 16
expenditure = pd.DataFrame([], columns=["Rank","School System","State","Enrollment",
                                       "Elementary_secondary Expenditure Total", "Selected Objects Salaries",
                                       "Selected Objects Employee Benfits","Instruction Salaries","Instruction Employee Benefits",
                                       "Support Services Pupil Support","Support Services Instructive Staff Support",
                                       "Support Services General Administration","Support Services School Administration",
                                       "Support Services Other and Nonspecified","Other Current Spending","Capital Outlay",
                                       "Inter-governmental","Interest On Debt"])

expenditure["Rank"] = [i for i in range(100)]
expenditure["School System"] = percent_dist_rev["School System"]
expenditure["State"] = percent_dist_rev["State"]
expenditure["Enrollment"] = percent_dist_rev["Enrollment"]
expenditure["Elementary_secondary Expenditure Total"] = [int(i) for i in fin_df_expenditure["Unnamed: 5"][np.concatenate((np.arange(4,74,1),np.arange(149,217,1)))] if i !="Total" and i != -1 and i != "Elementary-secondary expenditure"]
expenditure["Selected Objects Salaries"] = [int(i) for i in fin_df_expenditure["Unnamed: 7"][np.concatenate((np.arange(4,74,1),np.arange(149,217,1)))] if i !="For selected objects" and i != -1 and i != "Salaries and" and i != "wages"]
expenditure["Selected Objects Employee Benfits"] = [int(i) for i in fin_df_expenditure["Unnamed: 8"][np.concatenate((np.arange(4,74,1),np.arange(149,217,1)))] if i != -1 and i != "Employee" and i != "benefits"]
expenditure["Instruction Salaries"] = [int(i) for i in fin_df_expenditure["Unnamed: 10"][np.concatenate((np.arange(4,74,1),np.arange(149,217,1)))] if i != -1 and i != "Salaries and" and i != "wages"]
expenditure["Instruction Employee Benefits"] = [int(i) for i in fin_df_expenditure["Unnamed: 11"][np.concatenate((np.arange(4,74,1),np.arange(149,217,1)))] if i != -1 and i != "Employee" and i != "benefits"]
expenditure["Support Services Pupil Support"] = [int(i) for i in fin_df_expenditure["Unnamed: 5"][np.concatenate((np.arange(76,145,1),np.arange(220,288,1)))] if i != -1 and i != "Pupil" and i != "support"]
expenditure["Support Services Instructive Staff Support"] = [int(i) for i in fin_df_expenditure["Unnamed: 6"][np.concatenate((np.arange(76,145,1),np.arange(220,288,1)))] if i != -1 and i != "Instructional" and i != "staff" and i != "support"]
expenditure["Support Services General Administration"] = [int(i) for i in fin_df_expenditure["Unnamed: 7"][np.concatenate((np.arange(76,145,1),np.arange(220,288,1)))] if i != -1 and i != "General" and i != "adminis-" and i != "tration"]
expenditure["Support Services School Administration"] = [int(i) for i in fin_df_expenditure["Unnamed: 8"][np.concatenate((np.arange(76,145,1),np.arange(220,288,1)))] if i != -1 and i != "School" and i != "adminis-" and i != "tration"]
expenditure["Support Services Other and Nonspecified"] = [int(i) for i in fin_df_expenditure["Unnamed: 9"][np.concatenate((np.arange(76,145,1),np.arange(220,288,1)))] if i != -1 and i != "Other and" and i != "nonspecified"]
expenditure["Other Current Spending"] = [int(i) for i in fin_df_expenditure["Unnamed: 10"][np.concatenate((np.arange(76,145,1),np.arange(220,288,1)))] if i != -1 and i != "Other" and i != "current" and i != "spending"]
expenditure["Capital Outlay"] = [int(i) for i in fin_df_expenditure["Unnamed: 11"][np.concatenate((np.arange(76,145,1),np.arange(220,288,1)))] if i != -1 and i != "Capital" and i != "outlay"]
expenditure["Inter-governmental"] = [int(i) for i in fin_df_expenditure["Unnamed: 12"][np.concatenate((np.arange(76,145,1),np.arange(220,288,1)))] if i != -1 and i != "Inter-" and i != "governmental"]
expenditure["Interest On Debt"] = [int(i) for i in fin_df_expenditure["Unnamed: 13"][np.concatenate((np.arange(76,145,1),np.arange(220,288,1)))] if i != -1 and i != "Interest" and i != "on debt"]


expenditure.to_csv(index=False)

'Rank,School System,State,Enrollment,Elementary_secondary Expenditure Total,Selected Objects Salaries,Selected Objects Employee Benfits,Instruction Salaries,Instruction Employee Benefits,Support Services Pupil Support,Support Services Instructive Staff Support,Support Services General Administration,Support Services School Administration,Support Services Other and Nonspecified,Other Current Spending,Capital Outlay,Inter-governmental,Interest On Debt\n0,New York City,New York,984462,30727358,12189521,7450059,10251760,6482454,127581,100422,86059,565408,4529183,736500,2837591,34242,373100\n1,Los Angeles Unified,California,633621,9824700,4600478,2369812,2829876,1455404,462340,625423,58816,620171,1404572,540152,559525,39792,518172\n2,Chicago,Illinois,378199,5827667,2358375,1369044,1645990,1130889,277641,134105,127649,206432,616698,253822,201717,445,414239\n3,Miami-Dade County,Florida,357249,3785166,1777635,640407,1105455,399924,138086,154340,23235,164440,522834,249260,254277,0,141764\n4,Clark County,Nevada,326953,3442091,1748669,717503,1140062,457951,142395,170483,36014,216899,487972,144519,361897,2959,125776\n5,Broward County,Florida,271852,2754874,1345478,394370,835425,239880,130241,116316,18913,137246,403249,197410,126264,0,82392\n6,Houston,Texas,216106,2989364,1219119,225716,791800,132016,80978,94207,28860,132725,540953,132018,648546,99201,130444\n7,Hillsborough County,Florida,214386,2140049,1197653,341848,770473,208814,83427,158395,16096,104109,245752,203864,100908,0,36247\n8,Orange County,Florida,200674,2367970,999528,354526,607964,203860,57236,189246,15078,118635,283392,126612,426128,0,48069\n9,Palm Beach County,Florida,192721,2057207,1035866,366612,660061,231804,59185,114363,18146,105370,284831,145789,43728,0,71774\n10,Fairfax County,Virginia,187467,3034311,1718014,751839,1131822,488555,160091,186568,11625,161034,405497,112532,231511,759,71706\n11,Hawaii Public Schools,Hawaii,181550,2778689,1402480,633336,955344,420171,244802,87772,13048,186738,416771,147849,161655,0,0\n12,Gwinnett County,Georgia,178214,1855763,1046312,369990,698928,262283,77488,64932,9361,134135,349286,85080,77076,48,61228\n13,Wake County,North Carolina,160467,1789123,910937,309787,658743,219633,82741,45296,8047,77975,199908,56945,334216,5185,59327\n14,Montgomery County,Maryland,159010,2901866,1894901,726381,1101035,508855,99889,158121,12488,168676,372043,59504,292353,43463,1028\n15,Dallas,Texas,157886,1937798,1076114,170131,694450,107896,87428,106994,13932,94211,293147,120615,184277,1080,147917\n16,Charlotte/Mecklenburg,North Carolina,147428,1573607,838967,279526,577743,192398,59157,36810,14111,79267,217922,74414,186330,7599,40372\n17,Philadelphia,Pennsylvania,133929,3680833,722566,510357,483204,335559,60865,66075,61405,66093,310659,132917,115334,1069518,67289\n18,Prince Georges County,Maryland,130814,2247080,1310168,518786,776459,335125,101762,74900,14448,124600,393923,75529,152749,54683,1099\n19,Duval County,Florida,129479,1255728,570047,198118,395280,135335,65963,69010,7956,60365,186843,60191,67567,0,14853\n20,San Diego Unified,California,128040,1895602,861219,460498,537878,288140,129048,69570,9985,96517,243189,61089,289202,1762,103422\n21,Cypress-Fairbanks,Texas,114868,1434024,710129,103093,495993,72440,45469,36540,5754,45676,145643,65700,368053,228,104504\n22,Cobb County,Georgia,113151,1307608,730237,272484,503405,193907,51325,47006,12453,72789,146871,62362,162560,0,0\n23,Baltimore County,Maryland,112139,1853448,1123637,406046,609635,277922,84510,69919,9401,115191,262847,47335,208241,44738,1100\n24,Shelby County,Tennessee,111403,1307012,676017,208961,447794,148979,67798,67464,20010,79989,178360,88921,61885,1024,42916\n25,Northside,Texas,106145,1157539,650902,128367,449087,85093,45386,48667,4715,47977,142265,49760,156098,2028,81288\n26,Pinellas County,Florida,102905,1056539,593569,185777,382403,114134,41254,58418,7065,56951,156178,71354,71832,0,514\n27,Polk County,Florida,102295,983261,470809,159599,311843,99391,38215,50077,8116,42984,129247,65094,27948,0,10202\n28,DeKalb County,Georgia,101284,1239357,679957,235870,444770,160026,58474,46039,16143,62688,182591,63196,125222,0,2124\n29,Jefferson County,Kentucky,99813,1363137,795219,322585,466603,169532,59391,134712,5147,86691,223490,94477,83727,391,20316\n30,Fulton County,Georgia,96122,1225052,646951,232536,441082,151476,54642,64257,6582,61890,183531,41488,161076,1753,4281\n31,Lee County,Florida,92686,982928,459322,134329,277032,80214,31254,45796,7510,47934,166305,59822,103905,0,17689\n32,Denver,Colorado,91138,1391970,740212,122455,383437,63345,59421,105682,10147,109748,209485,85882,187370,4921,117420\n33,Albuquerque,New Mexico,90651,1038807,519659,184633,353618,123566,83400,21763,9871,48846,139879,35054,179917,348,21610\n34,Prince William County,Virginia,89345,1235828,646589,215344,398043,133603,48480,73510,41445,68765,146129,48960,164340,43317,39465\n35,Fort Worth,Texas,87428,1011524,608321,96622,389186,60725,58870,55192,4110,47662,134074,62454,124043,996,36106\n36,Jefferson County,Colorado,86371,945647,530382,155692,320703,93854,43520,55186,7955,64877,158112,37158,103879,17,25357\n37,Nashville-Davidson County,Tennessee,85163,1149270,541646,211973,337965,141915,52821,81969,3870,70889,163844,50778,159457,886,32154\n38,Austin,Texas,83067,1392542,568666,139631,353341,83349,38193,53484,8552,54972,175487,57242,94913,403521,37229\n39,Baltimore,Maryland,82354,1446939,747373,316523,461282,221071,65252,55314,51470,88647,182487,49765,80213,33677,271\n40,Anne Arundel County,Maryland,81379,1274813,753870,286368,438672,207056,45159,54906,7902,79077,184665,29928,133185,22853,496\n41,Alpine,Utah,78957,591032,268788,162736,196872,111383,15377,18790,2019,32121,67171,31944,61009,144,17153\n42,Loudoun County,Virginia,78348,1358874,636809,306219,441674,212685,56794,45967,10522,63430,205328,26444,243825,3403,301\n43,Greenville County,South Carolina,76918,851587,434592,163385,274795,101579,56483,41059,2593,48961,124478,51904,69861,1145,28751\n44,Long Beach Unified,California,76428,1123983,547434,270583,348726,170886,46477,47953,5020,53337,141430,78780,118472,639,27500\n45,Milwaukee,Wisconsin,76206,1192456,517098,235726,314091,144169,63745,70543,35696,50487,202375,72904,40618,43345,6956\n46,Katy,Texas,75428,1062301,503580,81643,356013,56704,36855,26327,5878,36522,108582,28787,300026,159,71125\n47,Fort Bend,Texas,74146,897152,456330,83606,300119,55273,40398,33093,4765,39414,119088,26503,209170,902,41272\n48,Brevard County,Florida,73444,705415,372321,106301,238916,65828,25042,49931,4428,38378,86555,33153,61452,0,19847\n49,Fresno Unified,California,73356,965074,488635,247260,309714,152788,54845,55127,7174,53731,149284,62834,44112,3019,18253\n50,Guilford County,North Carolina,73059,809352,434607,149024,292877,99347,43339,28004,5136,38512,114842,40234,77352,4871,21835\n51,Davis County,Utah,72987,628578,290419,141915,196652,96889,16003,20831,2842,34455,69299,33596,111271,1497,16660\n52,Pasco County,Florida,72493,774191,367660,125365,226148,73395,29598,37785,4378,39485,108386,43678,126831,0,18337\n53,Aldine,Texas,69768,982566,492184,80218,320660,50962,37483,38239,4164,45760,131603,40661,243723,345,28064\n54,Granite,Utah,69580,549620,291480,143987,199907,98556,21605,16342,3868,31878,77328,34700,33492,568,6849\n55,Virginia Beach,Virginia,69085,855081,488279,180990,313079,116386,35178,63330,6284,45972,144754,30030,40835,19287,18038\n56,Seminole County,Florida,67808,626527,325248,105533,225677,69581,25534,22860,5092,33099,89725,38515,56977,0,7666\n57,North East,Texas,67531,746013,411998,86523,278354,55379,33897,36340,3764,36111,102195,31818,80686,1353,56294\n58,Douglas County,Colorado,67470,666894,362667,117445,237100,76693,27281,28885,3758,48424,118961,31430,37317,1777,26259\n59,Washoe County,Nevada,66671,696723,385915,154612,233852,95334,53999,39816,10898,40170,107321,25924,45899,1200,21628\n60,Mesa Unified,Arizona,63444,547540,309048,96504,190694,57392,42823,29400,2916,24672,99050,33132,29580,0,8367\n61,Elk Grove Unified,California,63061,772967,406733,195825,275074,131393,43114,36176,3260,43072,104132,27299,57667,3711,7093\n62,Osceola County,Florida,63031,599600,273361,86530,164642,50298,24059,35171,4359,23460,78986,39715,52059,0,12178\n63,Volusia County,Florida,63028,597824,316945,93838,210021,59689,22770,35881,3619,36109,80766,30971,52417,0,12936\n64,Arlington,Texas,62181,769623,415226,57340,282524,38341,36896,30540,3483,29264,82478,31993,183378,595,28402\n65,Knox County,Tennessee,60372,532477,331472,87168,221642,60935,23070,38194,6976,33081,78578,25832,7908,12,10580\n66,San Francisco Unified,California,60133,967898,393156,184802,230028,101509,50960,120339,12338,45506,97944,26818,129041,104804,40574\n67,Chesterfield County,Virginia,60060,635049,338889,155946,242996,114992,25628,31622,5150,34942,88020,23045,39268,3878,12319\n68,Conroe,Texas,59764,704424,361030,63537,246814,41277,25668,18961,4791,29276,87265,17648,162284,804,50068\n69,El Paso,Texas,59424,603884,392200,77642,250288,46499,36127,42766,4273,37568,85817,31450,18683,46,15840\n70,Garland,Texas,57133,662552,356698,57804,233015,36657,29755,31280,3511,30014,79769,30644,132137,177,25537\n71,Mobile County,Alabama,56628,571906,292930,123280,182505,72613,30551,24061,9174,29935,114366,43000,23053,808,12388\n72,Pasadena,Texas,56282,673897,394385,67548,268317,45946,29701,23469,2826,36328,80614,33005,100934,1356,30748\n73,Frisco,Texas,55923,712565,343842,51772,244153,36134,23013,21701,3917,28378,61719,23663,169677,324,82689\n74,Howard County,Maryland,55626,984072,623660,225276,424729,177003,17545,6825,13894,79001,114239,22505,86268,4448,42\n75,Winston-Salem/Forsyth,North Carolina,55228,532909,319842,110039,226824,77901,31556,16827,2548,27224,66374,24507,12767,1639,13979\n76,Cherry Creek,Colorado,54852,636708,384806,105738,283537,76830,31763,21409,5237,27015,79493,15960,46767,27,21472\n77,Santa Ana Unified,California,54505,720454,381220,170825,261454,115520,31347,35201,2616,40756,105715,39884,33122,5226,13822\n78,Clayton County,Georgia,54345,586781,332317,104383,213374,68385,28834,30080,12956,27729,76810,41498,52992,0,0\n79,Seattle,Washington,54215,933454,472438,161907,308412,104627,54234,41747,9551,47952,126249,21437,175404,0,1371\n80,Plano,Texas,54173,714168,361848,50782,264278,36335,28064,21035,5231,26540,84639,24699,55822,106002,36918\n81,Boston,Massachusetts,53640,1518275,736077,280589,468467,198907,72614,116594,20476,49722,207916,55721,89956,7832,11753\n82,Capistrano Unified,California,53613,512429,286592,126899,199821,90840,30359,18320,2822,31139,70671,9581,20455,14019,2092\n83,Jordan,Utah,53416,437196,204435,86936,132204,58261,11980,14129,2508,21886,54672,29252,86444,554,2528\n84,Lewisville,Texas,53257,549529,330866,51980,240396,37765,25298,18807,4021,29914,75256,25654,12419,493,56956\n85,Corona-Norco Unified,California,53157,686997,361379,130102,251880,86173,38837,22943,2512,41728,91737,21594,62056,1813,24711\n86,San Bernardino Unified,California,53152,729341,373510,173569,229874,102449,46958,34027,3632,49268,119812,49260,29519,431,9751\n87,San Antonio,Texas,52514,626668,362398,93811,220585,55492,35483,41451,3775,33262,91933,50738,26488,2625,33682\n88,Omaha,Nebraska,52344,838875,365498,146829,261077,108895,22477,13743,9702,29685,119715,44821,160478,4007,15396\n89,Atlanta,Georgia,51927,920811,451605,182641,270456,129974,65785,61946,11168,56591,166619,33437,55526,13764,4406\n90,Klein,Texas,51810,657801,342988,58623,228320,37779,29777,21652,4217,28493,69182,24185,145757,846,43856\n91,Henrico County,Virginia,51425,547462,317802,121587,207356,78358,24045,32028,5752,30970,84209,21871,37802,3063,10334\n92,Cumberland County,North Carolina,51194,455260,284057,93450,196204,61842,23028,18790,1961,30699,58963,28430,12752,2127,2672\n93,Wichita Unified,Kansas,50600,592320,326268,127093,205398,82015,49956,30356,5017,35408,92805,23566,28642,13,20486\n94,Columbus,Ohio,50331,1017097,455138,194093,263123,106427,71710,41568,9342,41899,162936,38451,30417,35625,16683\n95,Oakland Unified,California,49760,768186,318472,159924,178314,90646,20588,63011,7477,45394,98610,36783,64943,2836,105740\n96,San Juan Unified,California,49255,593791,292931,149447,184565,92051,25034,45769,3865,41092,76918,19501,55739,1012,18843\n97,Manatee County,Florida,48884,501728,229517,68566,138286,41081,18109,22981,3536,24506,72345,41324,45294,0,11787\n98,Jefferson Parish,Louisiana,48668,581947,272093,141445,180233,89424,38475,18999,25025,36780,95471,28840,28846,8283,6598\n99,Charleston County,South Carolina,48551,740695,286411,103495,183575,66726,36734,37677,3714,37332,107884,36677,124684,4209,35505\n'