In [1]:
import xlrd
import pandas as pd
import csv
import sqlite3
import matplotlib
matplotlib.use("svg")
import matplotlib.pyplot as plt
import os
if not os.environ.get("DISABLE_TESTING", False):
    %matplotlib inline
plt.style.use('ggplot')
import numpy as np

In [2]:
##Read table using pandas 
df1 = pd.read_csv("grad_rates_pupil_teacher_ratio.csv",skiprows=6)

In [3]:
df1

,County Name,County Name [Public School] 2017-18,County Name [Public School] 2016-17,Total Number of Public Schools [Public School] 2017-18,Total Number of Public Schools [Public School] 2016-17,American Indian/Alaska Native - male [Public School] 2017-18,American Indian/Alaska Native - male [Public School] 2016-17,American Indian/Alaska Native - female [Public School] 2017-18,American Indian/Alaska Native - female [Public School] 2016-17,Asian or Asian/Pacific Islander - male [Public School] 2017-18,...,Hawaiian Nat./Pacific Isl. - male [Public School] 2017-18,Hawaiian Nat./Pacific Isl. - male [Public School] 2016-17,Hawaiian Nat./Pacific Isl. - female [Public School] 2017-18,Hawaiian Nat./Pacific Isl. - female [Public School] 2016-17,Two or More Races - male [Public School] 2017-18,Two or More Races - male [Public School] 2016-17,Two or More Races - female [Public School] 2017-18,Two or More Races - female [Public School] 2016-17,Pupil/Teacher Ratio [Public School] 2017-18,Pupil/Teacher Ratio [Public School] 2016-17
0,Abbeville County SC,Abbeville County,Abbeville County,10.0,10.0,3,3,3,1,4,...,3,2,1,"=""0""",34,38,26,28,13.17,13.49
1,Acadia Parish LA,Acadia Parish,Acadia Parish,27.0,27.0,†,†,†,†,†,...,†,†,†,†,207,198,237,214,20.30,17.92
2,Accomack County VA,Accomack County,Accomack County,13.0,13.0,4,4,4,4,22,...,"=""0""",1,5,4,15,16,18,16,16.55,16.26
3,Ada County ID,Ada County,Ada County,136.0,134.0,210,224,207,221,991,...,†,163,†,166,1446,1313,1358,1240,18.99,19.25
4,Adair County IA,Adair County,Adair County,5.0,5.0,–,–,†,†,†,...,–,–,–,–,12,13,14,11,11.41,12.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,Totals:,NaN,NaN,99337.0,99138.0,†,†,†,†,†,...,†,†,†,†,952629,890554,924383,860392,NaN,NaN
3139,Data Source: U.S. Department of Education Nati...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3140,† indicates that the data are not applicable.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3141,– indicates that the data are missing.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3142,‡ indicates that the data do not meet NCES dat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#create and read table using sqlite
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE GRAD_RATIO(
    county_name TEXT,
    county_name_17 TEXT,
    county_name_16 TEXT,
    total_num_schools_17 INTEGER,
    total_num_schools_16 INTEGER,
    american_indian_male_17 INTEGER,
    american_indian_male_16 INTEGER,
    american_indian_female_17 INTEGER,
    american_indian_female_16 INTEGER,
    asian_male_17 INTEGER,
    asian_male_16 INTEGER,
    asian_female_17 INTEGER,
    asian_female_16 INTEGER,
    hispanic_male_17 INTEGER,
    hispanic_male_16 INTEGER,
    hispanic_female_17 INTEGER,
    hispanic_female_16 INTEGER,
    black_male_17 INTEGER,
    black_male_16 INTEGER,
    black_female_17 INTEGER,
    black_female_16 INTEGER,
    white_male_17 INTEGER,
    white_male_16 INTEGER,
    white_female_17 INTEGER,
    white_female_16 INTEGER,
    hawaiian_male_17 INTEGER,
    hawaiian_male_16 INTEGER,
    hawaiian_female_17 INTEGER,
    hawaiian_female_16 INTEGER,
    mixed_male_17 INTEGER,
    mixed_male_16 INTEGER,
    mixed_female_17 INTEGER,
    mixed_female_16 INTEGER,
    student_teacher_ratio_17 INTEGER,
    student_teacher_ratio_16 INTEGER
);""")

conn.commit()

with open ("grad_rates_pupil_teacher_ratio.csv") as grad_ratio:
    data = csv.reader(grad_ratio)
    counter = 0
    for row in data:
        if counter >= 7 and len(row)>=35:
            #print(counter)
            cursor.execute("""INSERT INTO GRAD_RATIO VALUES (?,?,?,?,?,?,?,?,?,?,
                                                             ?,?,?,?,?,?,?,?,?,?,
                                                             ?,?,?,?,?,?,?,?,?,?,
                                                             ?,?,?,?,?)""", tuple(row))
        counter += 1

        conn.commit()
            

pd.read_sql_query("SELECT * from GRAD_RATIO;", conn)

,county_name,county_name_17,county_name_16,total_num_schools_17,total_num_schools_16,american_indian_male_17,american_indian_male_16,american_indian_female_17,american_indian_female_16,asian_male_17,...,hawaiian_male_17,hawaiian_male_16,hawaiian_female_17,hawaiian_female_16,mixed_male_17,mixed_male_16,mixed_female_17,mixed_female_16,student_teacher_ratio_17,student_teacher_ratio_16
0,Abbeville County SC,Abbeville County,Abbeville County,10,10,3,3,3,1,4,...,3,2,1,"=""0""",34,38,26,28,13.17,13.49
1,Acadia Parish LA,Acadia Parish,Acadia Parish,27,27,†,†,†,†,†,...,†,†,†,†,207,198,237,214,20.3,17.92
2,Accomack County VA,Accomack County,Accomack County,13,13,4,4,4,4,22,...,"=""0""",1,5,4,15,16,18,16,16.55,16.26
3,Ada County ID,Ada County,Ada County,136,134,210,224,207,221,991,...,†,163,†,166,1446,1313,1358,1240,18.99,19.25
4,Adair County IA,Adair County,Adair County,5,5,–,–,†,†,†,...,–,–,–,–,12,13,14,11,11.41,12.28
5,Adair County KY,Adair County,Adair County,5,5,†,†,†,†,5,...,†,†,†,†,59,48,45,41,15.53,14.86
6,Adair County MO,Adair County,Adair County,9,9,†,†,†,†,†,...,†,†,†,†,50,†,55,†,12.28,12.6
7,Adair County OK,Adair County,Adair County,18,18,1476,1520,1466,1479,†,...,†,1,–,"=""0""",112,90,122,96,13.28,13.41
8,Adams County CO,Adams County,Adams County,157,158,†,†,†,†,1710,...,†,†,†,†,1161,1097,1147,1114,20.17,19.83
9,Adams County IA,Adams County,Adams County,2,2,†,–,†,†,†,...,–,–,–,–,5,5,†,†,10.78,11.42
10,Adams County ID,Adams County,Adams County,3,3,†,1,†,3,–,...,–,1,–,1,†,2,†,7,11.9,11.53
11,Adams County IL,Adams County,Adams County,25,25,†,†,†,†,†,...,†,†,†,†,285,242,288,267,15.04,15.46
12,Adams County IN,Adams County,Adams County,10,10,†,†,†,†,12,...,†,†,†,†,51,46,56,47,13.56,14.73
13,Adams County MS,Adams County,Adams County,10,11,"=""0""","=""0""","=""0""","=""0""",9,...,"=""0""","=""0""","=""0""","=""0""",8,7,10,8,15.72,16.3
14,Adams County ND,Adams County,Adams County,2,2,5,4,2,3,4,...,–,–,†,†,–,–,†,–,12.63,12.63
15,Adams County NE,Adams County,Adams County,18,18,16,8,13,11,26,...,6,8,2,3,63,54,50,41,13.68,13.8
16,Adams County OH,Adams County,Adams County,9,9,1,2,1,1,3,...,2,1,2,1,38,42,25,30,17.17,17.82
17,Adams County PA,Adams County,Adams County,26,26,6,7,11,11,60,...,5,5,8,8,152,132,152,140,14.91,14.79
18,Adams County WA,Adams County,Adams County,15,15,†,†,†,†,†,...,†,†,†,†,13,†,†,†,17.78,18.36
19,Adams County WI,Adams County,Adams County,5,5,5,4,†,†,†,...,†,–,†,†,7,†,11,10,12.93,12.58
20,Addison County VT,Addison County,Addison County,23,23,†,†,†,†,†,...,†,†,†,†,69,†,†,†,11.54,11.42
21,Aiken County SC,Aiken County,Aiken County,40,40,44,40,35,31,76,...,12,13,5,8,494,459,483,452,16.06,16.41
22,Aitkin County MN,Aitkin County,Aitkin County,10,10,74,65,80,73,†,...,†,†,†,†,30,28,34,29,13.58,13.98
23,Alachua County FL,Alachua County,Alachua County,69,69,31,28,37,39,776,...,17,17,22,19,1028,973,978,937,17.01,19.48
24,Alamance County NC,Alamance County,Alamance County,39,39,43,48,42,47,194,...,15,15,13,12,574,552,555,527,15.74,15.82
25,Alameda County CA,Alameda County,Alameda County,398,398,†,†,†,†,35420,...,†,†,†,†,7343,6962,7106,6617,22.81,22.43
26,Alamosa County CO,Alamosa County,Alamosa County,6,6,22,21,†,17,†,...,†,†,–,–,28,23,29,24,16.49,16.99
27,Albany County NY,Albany County,Albany County,75,75,41,44,49,44,1851,...,39,39,19,23,993,878,981,864,13.35,14.36
28,Albany County WY,Albany County,Albany County,19,19,20,26,20,16,33,...,2,"=""0""",2,"=""0""",86,79,103,74,11.65,11.55
29,Albemarle County VA,Albemarle County,Albemarle County,26,28,8,11,9,14,301,...,5,5,8,8,412,385,379,344,13.55,13.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3109,Wythe County VA,Wythe County,Wythe County,14,14,1,2,1,1,11,...,1,1,3,3,36,37,45,38,15.24,15.24
3110,Yadkin County NC,Yadkin County,Yadkin County,14,14,10,11,7,5,6,...,3,2,4,6,67,68,68,67,15.14,14.61
3111,Yakima County WA,Yakima County,Yakima County,110,109,†,1092,†,966,†,...,†,†,†,†,571,566,577,577,18.54,18.72
3112,Yakutat City and Borough AK,Yakutat City and Borough,Yakutat City and Borough,2,2,17,18,26,29,2,...,"=""0""","=""0""","=""0""","=""0""","=""0""",1,1,5,11.88,11.49
3113,Yalobusha County MS,Yalobusha County,Yalobusha County,4,4,2,2,"=""0""","=""0""","=""0""",...,"=""0""","=""0""",1,"=""0""",23,21,20,21,14.39,13.11
3114,Yamhill County OR,Yamhill County,Yamhill County,34,34,184,188,181,195,75,...,33,26,19,29,296,257,241,227,18.89,19.01
3115,Yancey County NC,Yancey County,Yancey County,9,9,3,2,5,5,"=""0""",...,1,"=""0""","=""0""","=""0""",18,19,20,17,13.39,12.76
3116,Yankton County SD,Yankton County,Yankton County,10,10,80,72,56,56,14,...,"=""0""","=""0""","=""0""",1,32,33,45,45,16.61,16.19
3117,Yates County NY,Yates County,Yates County,6,6,1,"=""0""",2,2,3,...,"=""0""","=""0""",1,1,21,20,26,28,10.5,10.42
3118,Yavapai County AZ,Yavapai County,Yavapai County,100,100,289,317,266,306,116,...,30,40,27,31,374,350,387,338,22.98,23.3
3119,Yazoo County MS,Yazoo County,Yazoo County,10,10,1,"=""0""",1,1,11,...,"=""0""","=""0""","=""0""","=""0""",32,28,54,49,15.72,16.56
3120,Yell County AR,Yell County,Yell County,11,11,†,†,†,†,27,...,–,–,–,–,31,37,36,38,13.35,13.53
3121,Yellow Medicine County MN,Yellow Medicine County,Yellow Medicine County,7,7,†,†,†,†,†,...,–,–,–,–,18,†,†,†,12.86,12.9
3122,Yellowstone County MT,Yellowstone County,Yellowstone County,62,61,689,719,650,675,64,...,31,25,43,38,685,679,668,642,15.67,16.04
3123,Yoakum County TX,Yoakum County,Yoakum County,7,7,2,1,2,2,6,...,"=""0""","=""0""","=""0""","=""0""",8,8,7,8,13.05,13.19
3124,Yolo County CA,Yolo County,Yolo County,65,65,†,†,†,†,1707,...,†,†,†,†,603,559,593,514,22.01,22.31
3125,York County ME,York County,York County,59,59,†,†,†,†,205,...,†,†,†,†,319,†,302,278,12.09,12.34
3126,York County NE,York County,York County,8,9,3,1,"=""0""",2,7,...,1,1,"=""0""","=""0""",29,25,28,30,13.56,13.56
3127,York County PA,York County,York County,108,107,60,53,61,59,508,...,21,22,22,20,1537,1416,1528,1414,15.09,15.2
3128,York County SC,York County,York County,65,65,184,191,180,168,633,...,20,25,14,17,1032,946,1018,890,14.99,15.26
3129,York County VA,York County,York County,19,19,17,15,20,17,340,...,29,13,25,22,642,633,587,557,15.21,15.96
3130,Young County TX,Young County,Young County,10,10,5,8,13,11,11,...,1,2,"=""0""",1,31,25,33,28,12.6,13.31
3131,Yuba County CA,Yuba County,Yuba County,39,39,171,180,152,144,589,...,†,†,†,†,481,479,511,426,22.43,22.15
3132,Yukon-Koyukuk Census Area AK,Yukon-Koyukuk Census Area,Yukon-Koyukuk Census Area,30,30,621,615,635,607,13,...,9,6,4,10,76,67,84,70,17.26,16.38
3133,Yuma County AZ,Yuma County,Yuma County,83,80,130,172,168,200,114,...,30,40,36,51,145,97,124,85,26.66,26.66
3134,Yuma County CO,Yuma County,Yuma County,10,10,†,†,†,†,–,...,–,–,–,–,†,†,†,†,12.76,12.76
3135,Zapata County TX,Zapata County,Zapata County,6,6,"=""0""","=""0""","=""0""","=""0""",1,...,"=""0""","=""0""","=""0""","=""0""","=""0""",1,"=""0""","=""0""",16.17,14.94
3136,Zavala County TX,Zavala County,Zavala County,8,8,1,1,1,2,2,...,"=""0""","=""0""","=""0""","=""0""",1,4,1,1,13.56,12.56
3137,Ziebach County SD,Ziebach County,Ziebach County,4,4,262,279,281,272,"=""0""",...,"=""0""","=""0""","=""0""","=""0""","=""0""","=""0""",1,2,10.59,11.02
3138,Totals:,n/a,n/a,99337,99138,†,†,†,†,†,...,†,†,†,†,952629,890554,924383,860392,n/a,n/a

In [30]:
fin_df = pd.read_excel("financial_data.xls", sheet_name=["14","15","16","17","18"], skiprow=5)

In [82]:
fin_df["14"]

,Table 14.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Per Pupil Amounts of Public Elementary-Secondary School System Finances by,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,Enrollment-Size Groups: Fiscal Year 2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,(Dollars. Detail may not add to total because ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Item,NaN,NaN,NaN,NaN,NaN,School systems with enrollment of:,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,All school,"50,000 or","25,000 to","15,000 to","7,500 to","5,000 to","3,000 to",under
6,NaN,NaN,NaN,NaN,NaN,systems,more,49999,24999,14999,7499,4999,3000
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"Fall enrollment, 2016............................",NaN,NaN,NaN,NaN,48631444,10735685,6648975,5146011,7325603,4156922,5273523,9344725
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Elementary-secondary revenue.....................,NaN,NaN,NaN,NaN,14272.9,14257.5,12721.8,12871.7,13479.4,14632,14971,16234.2
11,NaN,From federal sources.............................,NaN,NaN,NaN,1136.96,1281.93,1091.07,1045.59,967.737,1009.33,980.977,1330.88
12,NaN,NaN,Through state....................................,NaN,NaN,1049.84,1200.57,1026.66,988.841,908.648,919.346,913.716,1172.31
13,NaN,NaN,NaN,Child nutrition programs.........................,NaN,331.814,391.74,346.333,342.418,307.357,299.598,292.544,302.464
14,NaN,NaN,NaN,Other and nonspecified,NaN,718.026,808.832,680.331,646.423,601.291,619.748,621.173,869.842
15,NaN,NaN,Direct...........................................,NaN,NaN,87.1247,81.3535,64.4011,56.7438,59.0891,89.9839,67.2607,158.57
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,From state sources...............................,NaN,NaN,NaN,6725.73,6034.39,6377.37,6797.25,6772.77,6634.97,6741.94,7722.82
18,NaN,NaN,General formula assistance.......................,NaN,NaN,4600.87,3983.51,4669.42,4951.17,4805.96,4473.82,4417.75,5067.51
19,NaN,NaN,Compensatory programs............................,NaN,NaN,106.319,136.32,109.207,110.621,103.47,79.8754,93.7301,88.5302
20,NaN,NaN,Special education................................,NaN,NaN,424.402,537.644,334.551,320.649,321.561,369.406,458.208,501.378
21,NaN,NaN,Staff improvement programs.......................,NaN,NaN,118.613,85.4029,82.1791,99.5021,126.371,135.511,159.546,156.515
22,NaN,NaN,Vocational programs..............................,NaN,NaN,25.1752,26.4522,30.7288,19.5052,21.8738,18.5086,18.7702,32.0474
23,NaN,NaN,Capital outlay and debt service programs..,NaN,NaN,121.62,95.4671,93.218,100.098,128.948,120.254,146.648,164.464
24,NaN,NaN,Transportation...................................,NaN,NaN,83.8382,58.4088,56.6015,71.4709,82.1824,91.2007,97.1832,129.735
25,NaN,NaN,Other............................................,NaN,NaN,786.407,925.953,662.062,755.129,679.962,719.978,716.217,884.395
26,NaN,NaN,Payments on behalf of LEA........................,NaN,NaN,432.706,183.075,314.336,351.296,483.449,586.353,605.465,642.926
27,NaN,NaN,Nonspecified.....................................,NaN,NaN,25.785,2.1586,25.0699,17.8152,18.9949,40.0568,28.4176,55.3145
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,From local sources...............................,NaN,NaN,NaN,6410.19,6941.16,5253.33,5028.91,5738.92,6987.73,7248.04,7180.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,Capital outlay...................................,NaN,NaN,NaN,1291.04,1381.71,1219.34,1210.66,1291.68,1339.68,1199.84,1311.47
63,NaN,NaN,Construction.....................................,NaN,NaN,1012.08,1155.06,988.724,961.109,1010.96,1019.01,900.945,953.037
64,NaN,NaN,Equipment........................................,NaN,NaN,202.867,158.625,163.785,173.078,188.496,224.126,223.562,288.035
65,NaN,NaN,NaN,Instructional equipment only.....................,NaN,41.777,29.6821,30.6548,32.0672,37.055,51.5369,49.8934,63.7127
66,NaN,NaN,Land & existing structures.......................,NaN,NaN,76.0838,68.0191,66.8268,76.4773,92.217,96.5435,75.3299,70.3954
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,NaN,Interest on debt.................................,NaN,NaN,NaN,369.929,395.939,392.158,382.13,367.639,367.69,354.137,329.214
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,Payments to other governments....................,NaN,NaN,NaN,64.9645,125.684,17.6492,17.2913,46.4804,50.1455,34.601,93.3434
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,Debt outstanding.................................,NaN,NaN,NaN,NaN,9296.87,9873.95,8869.65,10044,9292.98,9311.04,9064.84,8654.13
73,NaN,Long-term........................................,NaN,NaN,NaN,9107.73,9614.68,8722.26,9939.86,9158.97,9122.46,8874.8,8426.08
74,NaN,Short-term.......................................,NaN,NaN,NaN,189.135,259.266,147.388,104.094,134.011,188.582,190.04,228.045
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,Long-term debt issued............................,NaN,NaN,NaN,NaN,1493.38,1549.43,1320.13,1660.43,1533.54,1472.14,1520.68,1422.8
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Long-term debt retired...........................,NaN,NaN,NaN,NaN,1105.08,1216.32,910.443,976.876,1053.83,1151.95,1131.23,1190.95
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,1Includes amounts not shown separately....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,Note: See Appendix B for a description of s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,state payments made on behalf of public school...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,nonelementary-secondary programs are excluded ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,"universe file - ""Local Education Agency (Schoo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,charter schools whose charters are held by a n...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,inconsistent with the finances reported. Surve...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,a government agency. Charter schools whose cha...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,SOURCE: 2017 Census of Governments: Finance...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
# print(fin_df["14"].columns)
# print(fin_df["14"].columns[0])
# print(fin_df["14"][fin_df["14"].columns[0]])



for i in range(4):
    print(fin_df["14"].columns[i])
    col_data = fin_df["14"][fin_df["14"].columns[i]]

Table 14.
Unnamed: 1
Unnamed: 2
Unnamed: 3

In [161]:
fin_df_pps = fin_df["18"].fillna(-1)
fin_df_pps

,Table 18. Per Pupil Amounts for Current Spending of the 100 Largest Public Elementary-Secondary School Systems in the United,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,States by Enrollment: Fiscal Year 2017,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,(Dollars. Detail may not add to total because ...,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,Rank,-1.0,School System,State,-1,Current spending,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,-1,-1.0,-1,-1,-1,-1,For selected objects,-1,For selected functions,-1,-1,-1,-1,-1,-1,-1
5,-1,-1.0,-1,-1,-1,-1,-1,-1,Instruction,-1,-1,Support services,-1,-1,-1,-1
6,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,Instructional,General,School
7,-1,-1.0,-1,-1,Enroll-,-1,Salaries and,Employee,-1,Salaries and,Employee,-1,Pupil,staff,adminis-,adminis-
8,-1,-1.0,-1,-1,ment1,Total2,wages,benefits,Total2,wages,benefits,Total2,support,support,tration,tration
9,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
10,1,-1.0,New York City County,New York,984462,25198.7,12381.9,7567.65,19111,10413.6,6584.77,5494.02,129.595,102.007,87.4173,574.332
11,2,-1.0,Los Angeles Unified,California,633621,13549.2,7260.61,3740.11,7884.42,4466.2,2296.96,5005.08,729.679,987.062,92.8252,978.773
12,3,-1.0,Cook County,Illinois,378199,13487.7,6235.8,3619.9,9372.03,4352.18,2990.2,3602.67,734.114,354.588,337.518,545.829
13,4,-1.0,Miami-Dade County,Florida,357249,9240.2,4975.9,1792.61,5981.63,3094.35,1119.45,2807.38,386.526,432.024,65.0387,460.295
14,5,-1.0,Clark County,Nevada,326953,8972.52,5348.38,2194.51,5362.17,3486.93,1400.66,3222.98,435.521,521.43,110.15,663.395
15,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
16,6,-1.0,Broward County,Florida,271852,9055.3,4949.3,1450.68,5675.3,3073.09,882.392,2964.72,479.088,427.865,69.5709,504.856
17,7,-1.0,Houston County,Texas,216106,9716.18,5641.3,1044.47,5096.72,3663.94,610.885,4061.54,374.714,435.93,133.546,614.166
18,8,-1.0,Hillsborough County,Florida,214386,8934.19,5586.43,1594.54,5556.57,3593.86,974.009,2834.98,389.144,738.831,75.0795,485.615
19,9,-1.0,Orange County,Florida,200674,9272.35,4980.85,1766.68,5499.34,3029.61,1015.88,3306.79,285.219,943.052,75.1368,591.183
20,10,-1.0,Palm Beach County,Florida,192721,9781.76,5374.95,1902.29,6299.37,3424.96,1202.8,3019.36,307.102,593.412,94.1568,546.749
21,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
22,11,-1.0,Fairfax County,Virginia,187467,14497.8,9164.35,4010.51,9030.86,6037.45,2606.09,4933.21,853.969,995.204,62.0109,858.999
23,12,-1.0,Hawaii Public Schools,Hawaii,181550,14321.5,7725.03,3488.49,8372.65,5262.15,2314.35,5227.93,1348.4,483.459,71.87,1028.58
24,13,-1.0,Gwinnett County,Georgia,178214,9598.02,5871.1,2076.1,5556.35,3921.85,1471.73,3564.27,434.803,364.348,52.5267,752.663
25,14,-1.0,Wake County,North Carolina,160467,8596.98,5676.79,1930.53,5729.93,4105.16,1368.71,2579.76,515.626,282.276,50.1474,485.925
26,15,-1.0,Montgomery County,Maryland,159010,16108.9,11916.9,4568.15,10655.3,6924.31,3200.14,5101.67,628.193,994.409,78.5359,1060.79
27,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
28,16,-1.0,Dallas County,Texas,157886,10085.8,6815.77,1077.56,5625.56,4398.43,683.379,3773.05,553.741,677.666,88.2409,596.703
29,17,-1.0,Charlotte/Mecklenburg,North Carolina,147428,8997.95,5690.69,1896.02,5817.23,3918.81,1305.03,2762.48,401.26,249.681,95.7145,537.666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
122,86,-1.0,Riverside County,California,53157,11206,6798.33,2447.5,7131.06,4738.42,1621.1,3720.24,730.609,431.608,47.2562,784.995
123,87,-1.0,San Bernardino Unified,California,53152,12603.5,7027.2,3265.52,7275.04,4324.84,1927.47,4773.05,883.466,640.183,68.3323,926.927
124,88,-1.0,Bexar County,Texas,52514,10563.9,6900.98,1786.4,5850.46,4200.5,1056.71,3920.94,675.686,789.332,71.8856,633.393
125,89,-1.0,Douglas County,Nebraska,52344,12577.7,6982.62,2805.08,8001.89,4987.72,2080.37,3731.51,429.409,262.552,185.351,567.114
126,90,-1.0,Fulton County,Georgia,51927,14313.3,8696.92,3517.26,6716.08,5208.39,2503.01,6973.42,1266.87,1192.94,215.071,1089.82
127,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
128,91,-1.0,Klein,Texas,51810,8996.35,6620.11,1131.5,5594.21,4406.87,729.184,2959.29,574.735,417.912,81.3936,549.952
129,92,-1.0,Henrico County,Virginia,51425,9612.13,6179.91,2364.36,5782.95,4032.2,1523.73,3441.98,467.574,622.81,111.852,602.236
130,93,-1.0,Cumberland County,North Carolina,51194,8486.37,5548.64,1825.41,5388.09,3832.56,1207.99,2606.57,449.818,367.035,38.3053,599.66
131,94,-1.0,Sedgwick County,Kansas,50600,10734.7,6447.98,2511.72,6048.81,4059.25,1620.85,4220.2,987.273,599.921,99.1502,699.763
132,95,-1.0,Franklin County,Ohio,50331,15403.5,9042.9,3856.33,8324.09,5227.85,2114.54,6506.03,1424.77,825.893,185.611,832.469
133,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
134,96,-1.0,Alameda County,California,49760,11616.8,6400.16,3213.91,6487.22,3583.48,1821.66,4724.28,413.746,1266.3,150.261,912.259
135,97,-1.0,Nevada County,California,49255,10446.3,5947.23,3034.15,6212.93,3747.13,1868.87,3911.85,508.253,929.225,78.4692,834.271
136,98,-1.0,Manatee County,Florida,48884,8787.72,4695.14,1402.63,5356.48,2828.86,840.377,2894.14,370.448,470.113,72.3345,501.309
137,99,-1.0,Jefferson Parish,Louisiana,48668,11008.9,5590.8,2906.32,6053.03,3703.32,1837.43,4412.55,790.561,390.38,514.198,755.733
138,100,-1.0,Charleston County,South Carolina,48551,10879.5,5899.18,2131.68,5716.07,3781.08,1374.35,4600.13,756.606,776.029,76.4969,768.923
139,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
140,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
141,1Enrollments represent fall 2016 member...,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
142,"for state educational facilities, federal scho...",-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
143,adjustment if the enrollments were inconsisten...,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
144,2Includes amounts not shown separately.,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
145,-1,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
146,Notes: See Appendix B for a description o...,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
147,"community services, and other nonelementary-se...",-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
148,whose charters are held directly by a governme...,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
149,for the Survey of School System Finances.,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
150,SOURCE: 2017 Census of Governments: Financ...,-1.0,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [165]:
# print(fin_df["18"].columns)
per_pupil_spending = pd.DataFrame([], columns=["Rank", "School System", "State", "Enrollment", "Instruction_Total", 
                              "Instruction_Salaries", "Instruction_EmployeeBenefits", "Support_Total", 
                              "Support_Pupil", "Support_Staff","Support_GeneralAdmin", "Support_SchoolAdmin"])
per_pupil_spending["Rank"] = [i for i in range(100)]
per_pupil_spending["School System"] = [i for i in fin_df_pps["Unnamed: 2"][4:] if i !="School System" and i != -1]
per_pupil_spending["State"] = [i for i in fin_df_pps["Unnamed: 3"][4:] if i !="State" and i != -1]
per_pupil_spending["Enrollment"] = [int(i) for i in fin_df_pps["Unnamed: 4"] if i != -1 and type(i) != str]
per_pupil_spending["Instruction_Total"] = [int(i) for i in fin_df_pps["Unnamed: 8"] if i != -1 and type(i) != str]
per_pupil_spending["Instruction_Salaries"] = [int(i) for i in fin_df_pps["Unnamed: 9"] if i != -1 and type(i) != str]
per_pupil_spending["Instruction_EmployeeBenefits"] = [int(i) for i in fin_df_pps["Unnamed: 10"] if i != -1 and type(i) != str]
per_pupil_spending["Support_Total"] = [int(i) for i in fin_df_pps["Unnamed: 11"] if i != -1 and type(i) != str]
per_pupil_spending["Support_Pupil"] = [int(i) for i in fin_df_pps["Unnamed: 12"] if i != -1 and type(i) != str]
per_pupil_spending["Support_Staff"] = [int(i) for i in fin_df_pps["Unnamed: 13"] if i != -1 and type(i) != str]
per_pupil_spending["Support_GeneralAdmin"] = [int(i) for i in fin_df_pps["Unnamed: 14"] if i != -1 and type(i) != str]
per_pupil_spending["Support_SchoolAdmin"] = [int(i) for i in fin_df_pps["Unnamed: 15"] if i != -1 and type(i) != str]

per_pupil_spending.to_csv(index=False)

    Rank           School System           State  Enrollment  \
0      0    New York City County        New York      984462
1      1     Los Angeles Unified      California      633621
2      2             Cook County        Illinois      378199
3      3       Miami-Dade County         Florida      357249
4      4            Clark County          Nevada      326953
5      5          Broward County         Florida      271852
6      6          Houston County           Texas      216106
7      7     Hillsborough County         Florida      214386
8      8           Orange County         Florida      200674
9      9       Palm Beach County         Florida      192721
10    10          Fairfax County        Virginia      187467
11    11   Hawaii Public Schools          Hawaii      181550
12    12         Gwinnett County         Georgia      178214
13    13             Wake County  North Carolina      160467
14    14       Montgomery County        Maryland      159010
15    15           Dallas County           Texas      157886
16    16   Charlotte/Mecklenburg  North Carolina      147428
17    17            Philadelphia    Pennsylvania      133929
18    18   Prince Georges County        Maryland      130814
19    19            Duval County         Florida      129479
20    20       San Diego Unified      California      128040
21    21           Harris County           Texas      114868
22    22             Cobb County         Georgia      113151
23    23        Baltimore County        Maryland      112139
24    24           Shelby County       Tennessee      111403
25    25          Houston County           Texas      106145
26    26         Pinellas County         Florida      102905
27    27             Polk County         Florida      102295
28    28           DeKalb County         Georgia      101284
29    29        Jefferson County        Kentucky       99813
..   ...                     ...             ...         ...
70    70           Dallas County           Texas       57133
71    71           Mobile County         Alabama       56628
72    72           Harris County           Texas       56282
73    73           Collin County           Texas       55923
74    74           Howard County        Maryland       55626
75    75          Forsyth County  North Carolina       55228
76    76         Arapahoe County        Colorado       54852
77    77           Orange County      California       54505
78    78          Clayton County         Georgia       54345
79    79             King County      Washington       54215
80    80           Collin County           Texas       54173
81    81          Suffolk County   Massachusetts       53640
82    82           Orange County      California       53613
83    83        Salt Lake County            Utah       53416
84    84           Denton County           Texas       53257
85    85        Riverside County      California       53157
86    86  San Bernardino Unified      California       53152
87    87            Bexar County           Texas       52514
88    88          Douglas County        Nebraska       52344
89    89           Fulton County         Georgia       51927
90    90                   Klein           Texas       51810
91    91          Henrico County        Virginia       51425
92    92       Cumberland County  North Carolina       51194
93    93         Sedgwick County          Kansas       50600
94    94         Franklin County            Ohio       50331
95    95          Alameda County      California       49760
96    96           Nevada County      California       49255
97    97          Manatee County         Florida       48884
98    98        Jefferson Parish       Louisiana       48668
99    99       Charleston County  South Carolina       48551

    Instruction_Total  Instruction_Salaries  Instruction_EmployeeBenefits  \
0               19110                 10413                          6584
1                7884                  4466                          2296
2                9372                  4352                          2990
3                5981                  3094                          1119
4                5362                  3486                          1400
5                5675                  3073                           882
6                5096                  3663                           610
7                5556                  3593                           974
8                5499                  3029                          1015
9                6299                  3424                          1202
10               9030                  6037                          2606
11               8372                  5262                          2314
12               5556                  3921                          1471
13               5729                  4105                          1368
14              10655                  6924                          3200
15               5625                  4398                           683
16               5817                  3918                          1305
17               6918                  3607                          2505
18               9581                  5935                          2561
19               5583                  3052                          1045
20               6965                  4200                          2250
21               5366                  4317                           630
22               6530                  4448                          1713
23               9008                  5436                          2478
24               6271                  4019                          1337
25               5458                  4230                           801
26               5762                  3716                          1109
27               5976                  3048                           971
28               6365                  4391                          1579
29               6560                  4674                          1698
..                ...                   ...                           ...
70               5246                  4078                           641
71               5012                  3222                          1282
72               5950                  4767                           816
73               5319                  4365                           646
74              11492                  7635                          3182
75               6074                  4107                          1410
76               7065                  5169                          1400
77               7572                  4796                          2119
78               5812                  3926                          1258
79               8401                  5688                          1929
80               6003                  4878                           670
81              12612                  8733                          3708
82               5837                  3727                          1694
83               3992                  2474                          1090
84               5646                  4513                           709
85               7131                  4738                          1621
86               7275                  4324                          1927
87               5850                  4200                          1056
88               8001                  4987                          2080
89               6716                  5208                          2503
90               5594                  4406                           729
91               5782                  4032                          1523
92               5388                  3832                          1207
93               6048                  4059                          1620
94               8324                  5227                          2114
95               6487                  3583                          1821
96               6212                  3747                          1868
97               5356                  2828                           840
98               6053                  3703                          1837
99               5716                  3781                          1374

    Support_Total  Support_Pupil  Support_Staff  Support_GeneralAdmin  \
0            5494            129            102                    87
1            5005            729            987                    92
2            3602            734            354                   337
3            2807            386            432                    65
4            3222            435            521                   110
5            2964            479            427                    69
6            4061            374            435                   133
7            2834            389            738                    75
8            3306            285            943                    75
9            3019            307            593                    94
10           4933            853            995                    62
11           5227           1348            483                    71
12           3564            434            364                    52
13           2579            515            282                    50
14           5101            628            994                    78
15           3773            553            677                    88
16           2762            401            249                    95
17           4219            454            493                   458
18           5424            777            572                   110
19           3013            509            532                    61
20           4282           1007            543                    77
21           2429            395            318                    50
22           2920            453            415                   110
23           4832            753            623                    83
24           3712            608            605                   179
25           2722            427            458                    44
26           3108            400            567                    68
27           2626            373            489                    79
28           3612            577            454                   159
29           5103            595           1349                    51
..            ...            ...            ...                   ...
70           3051            520            547                    61
71           3674            539            424                   162
72           3072            527            416                    50
73           2480            411            388                    70
74           4161            315            122                   249
75           2616            571            304                    46
76           3006            579            390                    95
77           3956            575            645                    47
78           3246            530            553                   238
79           5159           1000            770                   176
80           3055            518            388                    96
81           8712           1353           2173                   381
82           2859            566            341                    52
83           1968            224            264                    46
84           2878            475            353                    75
85           3720            730            431                    47
86           4773            883            640                    68
87           3920            675            789                    71
88           3731            429            262                   185
89           6973           1266           1192                   215
90           2959            574            417                    81
91           3441            467            622                   111
92           2606            449            367                    38
93           4220            987            599                    99
94           6506           1424            825                   185
95           4724            413           1266                   150
96           3911            508            929                    78
97           2894            370            470                    72
98           4412            790            390                   514
99           4600            756            776                    76

    Support_SchoolAdmin
0                   574
1                   978
2                   545
3                   460
4                   663
5                   504
6                   614
7                   485
8                   591
9                   546
10                  858
11                 1028
12                  752
13                  485
14                 1060
15                  596
16                  537
17                  493
18                  952
19                  466
20                  753
21                  397
22                  643
23                 1027
24                  718
25                  451
26                  553
27                  420
28                  618
29                  868
..                  ...
70                  525
71                  528
72                  645
73                  507
74                 1420
75                  492
76                  492
77                  747
78                  510
79                  884
80                  489
81                  926
82                  580
83                  409
84                  561
85                  784
86                  926
87                  633
88                  567
89                 1089
90                  549
91                  602
92                  599
93                  699
94                  832
95                  912
96                  834
97                  501
98                  755
99                  768

[100 rows x 12 columns]